@font-face {
    font-family: Poppins-Medium;
    src: url("../fonts/Poppins-Medium.ttf") format("truetype");
}
@font-face {
    font-family: BriceGX;
    src: url("../fonts/BriceGX.ttf") format("truetype");
}


body {
    background-color: #7e4ad3!important;
}

.no-padding {
    padding: 0!important;
}
.cover1 {
    background-image: url(../images/cover/coverall.jpg);
    background-size: cover;
    background-position: bottom center;
    height: 100vh
}
.cover2 {
    background-image: url(../images/cover/2.png);
    background-size: cover;
    background-position: bottom center;
    height: 100vh
}
.cover3 {
    background-image: url(../images/cover/3.png);
    background-size: cover;
    background-position: bottom center;
    height: 100vh
}
.cover4 {
    background-image: url(../images/cover/4.png);
    background-size: cover;
    background-position: bottom center;
    height: 100vh
}
.cover5 {
    background-image: url(../images/cover/5.png);
    background-size: cover;
    background-position: center center;
    height: 100vh
}
.cover6 {
    background-image: url(../images/cover/6.png);
    background-size: cover;
    background-position: bottom center;
    height: 100vh
}
.cover7 {
    background-image: url(../images/cover/7.png);
    background-size: cover;
    background-position: center center;
    height: 100vh
}


.bg1 {
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.bg2 {
    background-image: url(../images/bg2.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

/* parallax goyang ikutin cursor */
/*
.parallax {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.parallax-layer__1 {
    background-image: url(../images/cover/1.png);
    width: 120%;
    height: 120%;
    left: -10%;
    top: -10%;
}
.parallax-layer__2 {
  background-image: url(../images/cover/2.png);
    width: 110%;
    height: 110%;
    left: -5%;
    top: -5%;
}
.parallax-layer__3 {
  background-image: url(../images/cover/3.png);
    width: 110%;
    height: 110%;
    left: -5%;
    top: -5%;
}
.parallax-layer__4 {
  background-image: url(../images/cover/4.png);
    width: 110%;
    height: 110%;
    left: -5%;
    top: -5%;
}
.parallax-layer__5 {
  background-image: url(../images/cover/5.png);
    width: 110%;
    height: 110%;
    left: -5%;
    top: -5%;
}
.parallax-layer__6 {
  background-image: url(../images/cover/6.png);
    width: 122%;
    height: 122%;
    left: -11%;
    top: -10%;
}
.parallax-layer__7 {
  background-image: url(../images/cover/7.png);
    width: 110%;
    height: 110%;
    left: -10%;
    top: -5%;
}
.parallax-layer__8 {
    background-image: url(../images/cover/8.png);
    width: 110%;
    height: 100%;
    left: -5%;
    bottom: -50%
    
}
.parallax-layer__9 {
    background-image: url(../images/cover/9.png);
    width: 110%;
    height: 110%;
    left: -5%;
    bottom: -5%
}
.parallax-layer__10 {
    background-image: url(../images/cover/10.png);
    width: 110%;
    height: 110%;
    left: -5%;
    bottom: -5%
}
*/


/* parallax goyang berlawanan cursor */
/*
#paraContainer {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #ededed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}
.para1 {
    display: block;
    position: absolute;
    background-image: url(../images/cover/cover.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 100vh;
    width: 100%;
}
.para2 {
    display: block;
    position: absolute;
    background-image: url(../images/cover/title1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
}
.para3 {
    display: block;
    position: absolute;
    background-image: url(../images/cover/title2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
}
.para4 {
    display: block;
    position: absolute;
    background-image: url(../images/cover/title3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 100vh;
    width: 100%;
}
.para5 {
    display: block;
    position: absolute;
    background-image: url(../images/cover/5.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
}
.para6 {
    display: block;
    position: absolute;
    background-image: url(../images/cover/6.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
}
.para7 {
    display: block;
    position: absolute;
    background-image: url(../images/cover/7.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
}
*/



/* ===== General ==== */

.sec1 p, .sec2 p, .sec3 p, .sec4 p, .sec5 p, .sec6 p, .sec7 p, .sec9 p, .sec10 p, .sec11 p, .sec12 p {
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 22px;
    line-height: 2.1rem;
    margin-bottom: 30px;
    letter-spacing: .6px;
}
.sec4 h3, .sec5 h3, .sec6 h3, .sec7 h3, .sec10 h3, .sec11 h3 {
    font-family: 'BriceGX', sans-serif;
    font-size: 62px;
    line-height: 4.6rem;
    margin-bottom: 40px;
    font-weight: bold;
    letter-spacing: -1px;
}

span.stretch {
    display:inline-block;
    -webkit-transform:scale(1,0.5); /* Safari and Chrome */
    -moz-transform:scale(1,0.5);  /* Firefox */
    -ms-transform:scale(1,0.5);  /* IE 9 */
    -o-transform:scale(1,0.5);  /* Opera */
    transform:scale(1,0.5); /* W3C */
}
.tengah {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/* ===== Section 1 ==== */

.sec1 .text-box {
    max-width: 35%;
    text-align: center;
    color: white;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    top: 200px;
}


/* ===== Section 2 ==== */

.sec2 .text-box {
    max-width: 31%;
    text-align: center;
    color: white;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}


/* ===== Section 3 ==== */

.sec3 .text-box {
    max-width: 27%;
    text-align: center;
    color: white;
    position: relative;
    left: 0;
    right: 0;
    margin: auto
}


/* ===== Section 4 ==== */

.sec4 .text-box {
    max-width: 32%;
    text-align: center;
    color: white;
    position: relative;
    left: 0;
    right: 0;
    margin: auto
}


/* ===== Section 5 ==== */

.sec5 {
    position: relative;
    padding-top: 60px;
    color: white;
}
.sec5 h3 {
    margin-bottom: 0;
}
.sec5 .ornamen {
    position: absolute;
    bottom: 30px;
    right: 0;
    z-index: 1;
}
.sec5 .ornamen img {
    max-width: 445px;
}
.prev1 {
    position: absolute;
    left: 20px;
}
.next2 {
    position: absolute;
    right: 20px;
}


/* ===== Section 6 ==== */

.sec6 {
    background-color: #ea6852;
    color: white;
    text-align: center;
}
.sec6 h2 {
    font-family: 'BriceGX', sans-serif;
    font-size: 75px;
    line-height: 0;
    margin-bottom: 22px;
    font-weight: bold;
    letter-spacing: -1px;
}
.sec6 p {
    margin-bottom: 10px;
}
.prev2, .prev3 {
    position: absolute;
    left: 30px;
}
.next2, .next3 {
    position: absolute;
    right: 30px;
}
#slider2 h3 {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    margin: auto;
}
#slider2 .desc {
    position: absolute;
    bottom: 30px;
}


/* ===== Section 7 ==== */

.sec7 {
    color: white;
    text-align: center;
    padding-top: 30px;
}
.sec7 h2 {
    font-family: 'BriceGX', sans-serif;
    font-size: 75px;
    line-height: 0;
    margin-bottom: 22px;
    font-weight: bold;
    letter-spacing: -1px;
    color: white;
}
.sec7 img {
    max-width: 380px;
    margin-bottom: 30px;
}
.sec7 .text-box {
    max-width: 550px;
    left: 0;
    right: 0;
    margin-left:auto;
    margin-right: auto;
}


/* ===== Section 8 ==== */

.sec8 {
    color: white;
    text-align: center;
    padding-top: 60px;
}

.sec8 img {
    max-width: 80%;
}

/* ===== Section 9 ==== */

.sec9 {
    color: white;
    text-align: center;
    padding-top: 30px;
}
.sec9 .text-box {
    max-width: 550px;
    left: 0;
    right: 0;
    margin-left:auto;
    margin-right: auto;
    position: relative;
    top: 200px;
}
.sec9 p {
    margin-bottom: 30px;
}


/* ===== Section 10 ==== */

.sec10 {
    color: white;
}
.sec10 h3 {
    position: relative;
    z-index: 9;
    left: 0;
    right: 0;
    margin: auto;
    top: 60px;
    max-width: 60%;
}
#slider3 .content-slider img {
    max-width: 300px;
    animation: bounce-5 1s;
    animation-timing-function: ease-in;
}

@keyframes anim1{

     0% {transform: scale(0);}
    100% {transform: scale(1);}
}


/* ===== Section 11 ==== */

.sec11 {
    color: #ce009f;
    text-align: center;
}
.sec11 p {
    line-height: 2rem;
}
.sec11 img {
    max-width: 220px;
    margin-bottom: 30px;
}
.sec11 .box {
    padding: 65px;
}
.sec11 .isi {
    top: -100px;
}


/* ===== Section 12 ==== */

.sec12 {
    color: #ce009f;
    text-align: center;
}
.sec12 .box {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 31%;
}
.sec12 h3 {
    font-family: 'BriceGX', sans-serif;
    font-size: 85px;
    line-height: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: -1px;
}
.sec12 p {
    margin-bottom: 5px;
}
.sec12 img {
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 250px;
}


/* -- CANVAS -- */

.content-slider {
	position: absolute;
	z-index: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
    text-align: center;
}

/* === Slider 1 === */

#slider1 .content-slider img {
    max-width: 500px;
}
#slider1 .content-slider .desc {
    margin-top: 30px;
    max-width: 45%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

/* === Slider 2 === */

#slider2 .content-slider .desc {
    margin-top: 30px;
    max-width: 60%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

/* === Slider 3 === */

#slider3 .content-slider img {
    max-width: 350px;
    position: relative;
    top: 25%;
}
#slider3 .content-slider .desc {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
}



.wrapper {
	position: absolute;
	right: 0;
	top: 100px;
	left: 0;
	width: 100%;
	margin: 0 auto;
}
#slider2 .wrapper {
    top: 150px;
}



/* -- SLIDER 2 -- */

.bg-slider2 {
	background: url(../images/slider2/bg-slide1.jpg) no-repeat center center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.bg-slider2:nth-child(2) {
    background : url(../images/slider2/bg-slide2.jpg) no-repeat center center;
    -webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.bg-slider2:nth-child(3) {
    background : url(../images/slider2/bg-slide3.jpg) no-repeat center center;
    -webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.bg-slider2:nth-child(4) {
    background : url(../images/slider2/bg-slide4.jpg) no-repeat center center;
    -webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.bg-slider2:nth-child(5) {
    background : url(../images/slider2/bg-slide5.jpg) no-repeat center center;
    -webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.bg-slider2:nth-child(6) {
    background : url(../images/slider2/bg-slide6.jpg) no-repeat center center;
    -webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

/* -- SLIDER 3 -- */

.bg-slider3 {
	background: url(../images/slider3/bg-slide1.jpg) no-repeat top center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.bg-slider3:nth-child(2) {
	background: url(../images/slider3/bg-slide2.jpg) no-repeat top center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.bg-slider3:nth-child(3) {
	background: url(../images/slider3/bg-slide3.jpg) no-repeat top center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.bg-slider3:nth-child(4) {
	background: url(../images/slider3/bg-slide4.jpg) no-repeat top center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.bg-slider3:nth-child(5) {
	background: url(../images/slider3/bg-slide5.jpg) no-repeat top center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

/* -- SLIDER - NAVEGATION -- */

.nav-wrapper {
    position:absolute;
    bottom:20px;
	min-width: 250px;
	padding: 4px;
    width:calc(100% - 8px);
    text-align:center;
}




/* ========== client class ========== */

/* ========== welcome page ========== */

#mobile-only {
    background-image: url(../images/mobile/cover.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}


#slide1 {
    max-width: 95%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: 99;
}

.carousel-item a {
    color: #000;
}
.carousel-item a:hover {
    color: #000;
    text-decoration: none;
}
.carousel-item img {
    max-width: 500px;
}
.carousel-item .desc {
    max-width: 50%;
    margin: auto;
    height: 100px;
    margin-top: 30px;
}
#slide1 .carousel-item .desc h3 {
    font-family: 'Poppins-Medium', sans-serif;
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
#slide1 .carousel-item .desc p {
    font-family: 'Poppins-Medium', sans-serif;
    color: #fff;
    font-size: 22px;
}
#slide2 .carousel-item .desc h3 {
    font-family: 'Poppins-Medium', sans-serif;
    color: #000;
    font-size: 26px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#slide2 .carousel-item .desc p {
    font-family: 'Poppins-Medium', sans-serif;
    color: #000;
    font-size: 22px;
}
#slide3 .carousel-item .desc {
    max-width: 42%;
}
#slide3 .carousel-item .desc h3 {
    font-family: 'Platform-Medium', sans-serif;
    color: #fff;
    font-size: 26px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#slide3 .carousel-item .desc p {
    font-family: 'Platform-Regular', sans-serif;
    color: #fff;
    font-size: 22px;
    letter-spacing: 1px;
}
.carousel-control-next, .carousel-control-prev {
    top: 50%;
    transform: translateY(-50%);
}
.carousel-indicators {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin: auto;
    list-style: none;
}
.carousel-indicators li {
    opacity: 1!important;
    margin: 0 10px!important;
    display: inline-block;
    height: 12px;
    width: 12px;
    background-color: transparent!important;
    border: 1px solid #D2E603;
    border-radius: 50%;
}
.carousel-indicators .active, .sect10 .carousel-indicators .active {
    margin: 0 10px!important;
    background-color: #D2E603!important;
}
.sect10 .carousel-indicators li {
    background-color: #0c0b3c!important;
}
.carousel-inner {
    padding-top: 50px;
}
.prevbtn {
    background-image: url(../images/panah-kiri.png);
    width: 50px;
    height: 52px;
    display: block;
    background-size: cover;
}
.prevbtn:active {
    background-image: url(../images/panah-kiri.png)!important;
}
.prevbtn:hover {
    background-image: url(../images/panah-kiri-hover.png);
}
.nextbtn {
    background-image: url(../images/panah-kanan.png);
    width: 50px;
    height: 52px;
    display: block;
    background-size: cover;
    cursor: pointer;
}
.nextbtn:active {
    background-image: url(../images/panah-kanan.png)!important;
}
.nextbtn:hover {
    background-image: url(../images/panah-kanan-hover.png);
}



#slide2 .prevbtn {
    background-image: url(../images/panah-kiri.png);
    width: 50px;
    height: 52px;
    display: block;
    background-size: cover;
}
#slide2 .prevbtn:active {
    background-image: url(../images/panah-kiri.png)!important;
}
#slide2 .prevbtn:hover {
    background-image: url(../images/panah-kiri.png);
}
#slide2 .nextbtn {
    background-image: url(../images/panah-kanan.png);
    width: 50px;
    height: 52px;
    display: block;
    background-size: cover;
    cursor: pointer;
}
#slide2 .nextbtn:active {
    background-image: url(../images/panah-kanan.png)!important;
}
#slide2 .nextbtn:hover {
    background-image: url(../images/panah-kanan.png);
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}





.desktop_{
    display: inline-block;
    position: relative;
}
.mobile_ {
    display: none
}




/* ================== responsive ==================== */

@media 
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1600px), 
    only screen and (min-resolution: 192dpi) and (min-width: 1600px) {
        
        .bg1 {
        background-size: cover!important;
        }
        
        .sec0, .sec1, .sec2, .sec3, .sec4, .sec5, .sec6, .sec7, .sec8, .sec9, .sec10, .sec11, .sec12, .sec13, .sec14, .sec15, .sec16, .sec17, .sec18, .sec19, .sec20 {
            height: 1160px!important;
        }

}


/* Responsive Layar desktop zoom out 80% dari layar 1366x768 */
@media only screen and (min-width: 1600px) {
    .bg1 {
        background-size: cover!important;
    }
    .sec0, .sec1, .sec2, .sec3, .sec4, .sec5, .sec6, .sec7, .sec8, .sec9, .sec11, .sec12, .sec13, .sec14, .sec15, .sec16, .sec17, .sec18, .sec19, .sec20 {
        height: 948px;
    }
    .sec10 {
        height: 1120px;
    }
    #slider1 .content-slider img {
        max-width: 550px;
    }
    .sec4 .text-box {
        top: 180px;
    }
    .sec5 {
        padding-top: 120px;
    }
    .sec5 .ornamen img {
        max-width: 360px;
    }
    .sec7 {
        padding-top: 150px;
    }
    .sec7 img {
        max-width: 350px;
    }
    .sec9 .text-box {
        top: 260px;
    }
    
}

/* Responsive Layar desktop zoom out 90% dari layar 1366x768 */
@media only screen and (min-width: 1500px) and (max-width: 1599px) {
    .bg1 {
        background-size: cover!important;
    }
    .sec0, .sec1, .sec2, .sec3, .sec4, .sec5, .sec6, .sec7, .sec8, .sec9, .sec11, .sec12, .sec13, .sec14, .sec15, .sec16, .sec17, .sec18, .sec19, .sec20 {
        height: 854px;
    }
    .sec10 {
        height: 1027px;
    }
    .sec1 p, .sec2 p, .sec3 p, .sec4 p, .sec5 p, .sec6 p, .sec7 p, .sec9 p, .sec10 p, .sec11 p, .sec12 p {
        font-size: 24px;
    }
    .sec1 .text-box {
        max-width: 32%;
    }
    .sec2 .text-box {
        max-width: 29%;
    }
    .sec4 .text-box {
        top: 100px;
    }
    .sec5 {
        padding-top: 120px;
    }
    .sec11 .box {
        padding: 80px;
    }
}


/* Responsive untuk MacBook Air */
@media only screen and (min-width: 1367px) and (max-width: 1499px) {
     .bg1 {
        background-size: cover!important;
    }

    .sec0, .sec1, .sec2, .sec3, .sec4, .sec5, .sec6, .sec7, .sec8, .sec9, .sec11, .sec12, .sec13, .sec14, .sec15, .sec16, .sec17, .sec18, .sec19, .sec20 {
        height: 809px!important;
    }
    .sec1 .text-box {
        max-width: 30%;
    }
    .sec2 .text-box {
        max-width: 28%;
    }
    .sec3 .text-box {
        max-width: 26%
    }
    .sec4 .text-box {
        top: 100px;
        max-width: 30%;
    }
    .sec5 {
        padding-top: 100px;
    }
    .sec7 {
        padding-top: 60px;
    }
    .sec7 .text-box {
        max-width: 530px;
    }
    .sec8 {
        padding-top: 120px;
    }
    .sec9 .text-box {
        max-width: 520px;
    }
    .sec10 {
        height: 955px;
    }
    .sec11 {
        padding-top: 80px;
    }
    .sec11 .box {
        padding: 85px;
    }
    .head-text-box {
        margin-bottom: 100px;
    }
    #slider1 .content-slider .desc {
        max-width: 37%;
    }
    
}

/* Responsive untuk MacBook Pro */
@media 
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1400px), 
    only screen and (min-resolution: 192dpi) and (min-width: 1400px) {
        
}



/* Responsive Layar desktop 100% dari layar 1366x768 */
@media only screen and (min-width: 1200px) and (max-width: 1366px) {
    .bg1 {
        background-size: 1366px!important;
    }
    .sec0, .sec1, .sec2, .sec3, .sec4, .sec5, .sec6, .sec7, .sec8, .sec9, .sec11, .sec12, .sec13, .sec14, .sec15, .sec16, .sec17, .sec18, .sec19, .sec20 {
        height: 768px;
    }
    .sec10 {
        height: 890px;
    }
    .sec8 {
        padding-top: 120px;
    }
    .sec11 {
        padding-top: 60px;
    }
    .sec11 h3 {
        margin-bottom: 100px;
    }

}

/* Responsive Layar desktop zoom in 120% dari layar 1366x768 */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .bg1 {
        background-size: cover;
    }
    .sec0, .sec1, .sec2, .sec3, .sec4, .sec5, .sec6, .sec7, .sec8, .sec9, .sec11, .sec12, .sec13, .sec14, .sec15, .sec16, .sec17, .sec18, .sec19, .sec20 {
        height: 644px;
    }
    .sec4 h3, .sec5 h3, .sec6 h3, .sec7 h3, .sec10 h3, .sec11 h3 {
        font-size: 40px;
    }
    .sec1 p, .sec2 p, .sec3 p, .sec4 p, .sec5 p, .sec6 p, .sec7 p, .sec9 p, .sec10 p, .sec11 p, .sec12 p {
        font-size: 16px;
        line-height: 1.8rem;
        margin-bottom: 20px;
    }
    .sec10 {
        height: 775px;
    }
    .sec5 .ornamen img {
        max-width: 300px;
    }
    .sec7 img {
        max-width: 250px;
    }
    .sec8 img {
        max-width: 75%;
    }
    .sec11 img {
        max-width: 180px;
    }
    .sec12 .box {
        bottom: 50px;
    }
    .sec12 img {
        max-width: 200px;
    }
    .sec12 h3 {
        font-size: 60px;
    }
    #slider1 .content-slider img {
        max-width: 370px;
    }
    #slider3 .content-slider img {
        max-width: 280px;
    }

}

/* buat yang jail ngecilin browse */
@media only screen and (min-width: 601px) and (max-width: 991px) {
    .bg1 {
        background-size: cover;
    }
    .sec0, .sec1, .sec2, .sec3, .sec4, .sec5, .sec6, .sec7, .sec8, .sec9, .sec10, .sec11, .sec12, .sec13, .sec14, .sec15, .sec16, .sec17, .sec18, .sec19, .sec20 {
        height: 768px;
    }
}
@media only screen and (max-width: 600px) {
    [data-aos-delay] {
        transition-delay: 0s !important;
    }
    
    .break-sect {
        display: none;
    }
    .desktop_ {
        display: none!important;
    }
    .mobile_ {
        display: block;
    }
    #desktop-only {
        display: none;
    }
    #mobile-only {
        display: block;
    }
        .sec0, .sec1, .sec2, .sec3, .sec4, .sec5, .sec6, .sec7, .sec8, .sec9, .sec10, .sec11, .sec12, .sec13, .sec14, .sec15, .sec16, .sec17, .sec18, .sec19, .sec20 {
        height: 100vh;
    }
    .sec1 .text-box, .sec2 .text-box, .sec3 .text-box, .sec4 .text-box {
        max-width: 91%;
    }
    .bg1 {
        background-image: url(../images/mobile/bg.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover!important;
    }
    .cover {

        height: 100vh;
        background-position: center;
        position: relative;
    }
    
}

/* mobile general */
@media only screen and (max-width: 481px) {
    .bg1 {
        background-image: url(../images/mobile/bg.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover!important;
    }
    .cover {
        height: 100vh;
        background-position: center;
        position: relative;
    }
    .sec0, .sec1, .sec2, .sec3, .sec4, .sec5, .sec6, .sec7, .sec8, .sec9, .sec10, .sec11, .sec12, .sec13, .sec14, .sec15, .sec16, .sec17, .sec18, .sec19, .sec20 {
        height: 100vh;
    }
    .sec4 h3, .sec5 h3, .sec6 h3, .sec7 h3, .sec10 h3, .sec11 h3 {
        font-size: 40px;
    }
    .sec1 p, .sec2 p, .sec3 p, .sec4 p, .sec5 p, .sec6 p, .sec7 p, .sec9 p, .sec10 p, .sec11 p, .sec12 p {
        font-size: 15px;
        line-height: 1.5rem;
    }
    .prevbtn, .nextbtn {
        width: 30px;
        height: 31px;
    }
    .prev1 {
        left: 0;
    }
    #slider1 .content-slider img {
        max-width: 240px;
        position: relative;
        top: 70px;
    }
    #slider1 .content-slider .desc {
        max-width: 90%;
        position: relative;
        top: 100px;
    }
    #slider2 .content-slider .desc {
        max-width: 90%;
        bottom: 15vh;
    }
    #slider2 h3 {
        top: 45vh;
    }
    #slider3 .content-slider img {
        max-width: 200px;
    }
    .sec5 .ornamen {
        right: -20px;
    }
    .sec5 .ornamen img {
        max-width: 120px;
    }
    .sec6 h2 {
        font-size: 40px;
    }
    .sec7 img {
        max-width: 180px;
    }
    .sec8 img {
        max-width: 100%;
    }
    .sec9 .text-box {
        max-width: 90%;
    }
    .sec10 h3 {
        max-width: 100%;
        line-height: 3.6rem;
        top: 0px;
    }
    .sec11 .box {
        padding: 0;
        margin-top: 20px;
    }
    .sec11 img {
        max-width: 80px;
        margin-bottom: 10px;
    }
    .sec11 .head-text-box {
        position: relative;
        top: -35px;
    }
    .sec12 .box {
        max-width: 90%;
        bottom: 40px;
    }
    .sec12 h3 {
        font-size: 60px;
    }
    .sec12 img {
        max-width: 180px;
    }
    .bg-slider2 {
        background: url(../images/slider2/1.jpg) no-repeat center center;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }
    .bg-slider2:nth-child(2) {
        background : url(../images/slider2/2.jpg) no-repeat center center;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }
    .bg-slider2:nth-child(3) {
        background : url(../images/slider2/3.jpg) no-repeat center center;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }
    .bg-slider2:nth-child(4) {
        background : url(../images/slider2/4.jpg) no-repeat center center;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }
    .bg-slider2:nth-child(5) {
        background : url(../images/slider2/5.jpg) no-repeat center center;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }
    .bg-slider2:nth-child(6) {
        background : url(../images/slider2/6.jpg) no-repeat center center;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }
    
    .bg-slider3 {
        background: url(../images/slider3/bgslide1.png) no-repeat top center;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }
    .bg-slider3:nth-child(2) {
        background: url(../images/slider3/bgslide2.png) no-repeat top center;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }
    .bg-slider3:nth-child(3) {
        background: url(../images/slider3/bgslide3.png) no-repeat top center;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }
    .bg-slider3:nth-child(4) {
        background: url(../images/slider3/bgslide4.png) no-repeat top center;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }
    .bg-slider3:nth-child(5) {
        background: url(../images/slider3/bgslide5.png) no-repeat top center;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }
 
}

@media (max-width: 419) and (max-height: 721px) {
    .sec1, .sec2, .sec3, .sec4, .sec5, .sec6, .sec7, .sec8, .sec9, .sec10, .sec11, .sec12, .sec13, .sec14, .sec15, .sec16, .sec17, .sec18, .sec19, .sec20 {
        height: 105vh;
    }
    
}

/* galaxy note 9 */
@media (max-width: 419px) and (max-height: 847px) {
    .sec1, .sec2, .sec3, .sec4, .sec5, .sec6, .sec7, .sec8, .sec9, .sec10, .sec11, .sec12, .sec13, .sec14, .sec15, .sec16, .sec17, .sec18, .sec19, .sec20 {
        height: 105vh;
    }
    
}


/* Note FE */


/* Iphone 6/7/8 */
@media (max-width: 380px) and (max-height: 668px) {
    .sec1, .sec2, .sec3, .sec4, .sec5, .sec6, .sec7, .sec8, .sec9, .sec10, .sec11, .sec12, .sec13, .sec14, .sec15, .sec16, .sec17, .sec18, .sec19, .sec20 {
        height: 105vh;
    }
   
     
}
@media (max-width: 361px) and (max-height: 741px) {
    .sec1, .sec2, .sec3, .sec4, .sec5, .sec6, .sec7, .sec8, .sec9, .sec10, .sec11, .sec12, .sec13, .sec14, .sec15, .sec16, .sec17, .sec18, .sec19, .sec20 {
        height: 105vh;
    }
    
}

/* HP ukuran layar 5 inch */
@media only screen and (max-width: 361px) { 
    .sec1, .sec2, .sec3, .sec4, .sec5, .sec6, .sec7, .sec8, .sec9, .sec10, .sec11, .sec12, .sec13, .sec14, .sec15, .sec16, .sec17, .sec18, .sec19, .sec20 {
        height: 105vh;
    }
    .sec4 h3, .sec5 h3, .sec6 h3, .sec7 h3, .sec10 h3, .sec11 h3 {
        line-height: 3.4rem;
    }
    

}

/* Iphone 5 */
@media (max-width: 321px) {
    .sec2 p, .sec3 p, .sec4 p, .sec5 p, .sec6 p, .sec7 p, .sec10 p, .sec12 p, .sec14 p, .sec16 p, .sec17 p, .sec18 p {
        font-size: 13px;
        line-height: 1.6rem;
    }
    
}


.loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999;
    background: #7e4ad3;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; 
}
.loader._show {
    visibility: visible;
    opacity: 1;
}
.loader--main {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; 
}
.spinner {
    margin: 100px auto;
    width: 100px;
    height: 60px;
    text-align: center;
    font-size: 10px;
}
.spinner > div {
    background-color: #fff;
    height: 100%;
    width: 10px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
.sk-chase {
  width: 80px;
  height: 80px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
    left: 0;
    right: 0;
    margin: auto;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
  animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); 
  } 100%, 0% {
    transform: scale(1.0); 
  } 
}



.home .top--section {
	height: 100vh!important;
	background: #CAE8F2;
}
.home .top--section--base {
	height: 100vh;
	width: 100%;
	background: #CAE8F2;
}
.home .top--section_wraper {
	position: relative;
	width: 100%;
	background: #1d4a23;
}
.home .top--section_background {
	position: relative;
	left: 0;
}
.home .top--section_background img {
	width: 100%;
}
.home .top--section_background-inside {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}
.home .top--section_background-inside img {
	width: 100%;
}
.home .top--section ._layer--full {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
@media (max-width: 480px) {
	.home .top--section ._layer--full {
		bottom: auto;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: end;
		-moz-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;
	}
	.home .top--section ._layer--full._sky {
		-webkit-box-align: start;
		-moz-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
}
.home .top--section .layer--title {
	text-align: center;
	margin-top: 0%;
}
.home .top--section .layer--title img {
	width: 90%;
	margin: 0 auto;
}
@media (max-width: 480px) {
	.home .top--section .layer--title img {
		width: 140%;
		margin-left: -20%;
	}
}
.home .top--section .layer--normal {
	margin-top: 0;
}

.bounce-5 {
        animation-name: bounce-5;
        animation-timing-function: ease;
    }
    @keyframes bounce-5 {
        0%   { transform: scale(1,1)    translateY(0); }
        10%  { transform: scale(1.1,.9) translateY(0); }
        30%  { transform: scale(.9,1.1) translateY(-50px); }
        50%  { transform: scale(1,1)    translateY(0); }
        57%  { transform: scale(1,1)    translateY(-7px); }
        64%  { transform: scale(1,1)    translateY(0); }
        100% { transform: scale(1,1)    translateY(0); }
    }
