/** xxxxxxxxxx DESKTOP xxxxxxxxxx **/

/** ===== FSTO DESKTOP ===== **/
/* -- ALL PUBLISHER --*/
#fsto-desktop.preview-desktop .banner-box {
    pointer-events: none;
}
#fsto-desktop.preview-desktop .site-box {
    overflow: auto!important;
}
#fsto-desktop .sticky-bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 42px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 4;
}
#fsto-desktop .sticky-bottom img {
    width: 273px;
    height: 34px;
}
#fsto-desktop img.skin-left, #fsto-desktop img.skin-right {
    position: absolute;
    width: 55px;
    height: auto;
    z-index: 5;
}
#fsto-desktop img.skin-left {
    top: 80px;
    left: 25px;
}
#fsto-desktop img.skin-right {
    top: 80px;
    right: 32px;
}






/** ===== BILLBOARD DESKTOP & MASTHEAD DESKTOP ===== **/
#billboard-desktop .banner-box img, #masthead-desktop .banner-box img, #masthead-desktop .banner-box video {
    position: absolute;
}
/* -- ALL PUBLISHER Ex IDN TIMES & YUMMY --*/
#billboard-desktop .banner-box img, #masthead-desktop .banner-box img {
    width: 350px;
    height: 92px;
    top: 65px;
    left: 95px;
}
/* -- IDNTIMES --*/
#idntimes #billboard-desktop .banner-box img, #idntimes #masthead-desktop .banner-box img {
    top: 76px;
}
#idntimes #masthead-desktop .banner-box video {
    width: 143px;
    height: 80px;
    top: 82px;
    left: 99px;
}
/* -- POPMAMA & FORTUNE  --*/
#popmama #masthead-desktop .banner-box video, #fortune #masthead-desktop .banner-box video {
    width: 147px;
    height: 82px;
    top: 69px;
    left: 99px;
}
/* -- POPBELA  --*/
#popbela #masthead-desktop .banner-box video {
    width: 100px;
    height: 56px;
    top: 83px;
    left: 104px;
}
/* -- GGWP & DUNIAKU  --*/
#ggwp #masthead-desktop .banner-box video, #duniaku #masthead-desktop .banner-box video {
    width: 138px;
    height: 78px;
    top: 71px;
    left: 101px;
}
/* -- YUMMY --*/
#yummy #billboard-desktop .banner-box img, #yummy #masthead-desktop .banner-box img {
    width: 350px;
    height: 89px;
    top: 36px;
    left: 94px;
}
#yummy #masthead-desktop .banner-box video {
    width: 138px;
    height: 78px;
    top: 41px;
    left: 101px;
}






/** ===== LEADERBOARD DESKTOP ===== **/
/* -- ALL PUBLISHER --*/
#leaderboard-desktop .banner-box img {
    position: absolute;
    width: 284px;
    height: 36px;
    top: 3px;
    left: 0;
    right: 0;
    margin: auto;
}



/** ===== STICKY BOTTOM DESKTOP ===== **/
/* -- ALL PUBLISHER --*/
#sticky-bottom-desktop .banner-box img {
    position: absolute;
    width: 284px;
    height: 36px;
    bottom: 3px;
    left: 0;
    right: 0;
    margin: auto;
}


/** ===== SKINAD DESKTOP ===== **/
/* -- ALL PUBLISHER Ex YUMMY --*/
#skinad .banner-box img {
    position: absolute;
    width: 57px;
    height: 210px;
}
#skinad .banner-box img.skin-left {
    top: 54px;
    left: 19px;
}
#skinad .banner-box img.skin-right {
    top: 54px;
    right: 20px;
}
/* -- YUMMY --*/
#yummy #skinad .banner-box img {
    position: absolute;
    width: 44px;
    height: 229px;
}
#yummy #skinad .banner-box img.skin-left {
    top: 51px;
    left: 0px;
}
#yummy #skinad .banner-box img.skin-right {
    top: 51px;
    right: 0px;
}

/** ===== IN ARTICLE 1 DESKTOP ===== **/
/* -- ALL PUBLISHER Ex Yummy --*/
#inarticle-1-desktop .banner-box img {
    position: absolute;
    width: 125px;
    height: 187px;
    top: 88px;
    left: 142px; 
}
/* -- Yummy --*/
#yummy #inarticle-1-desktop .banner-box img {
    top: 114px;
    left: 122px;
    width: 122px;
    height: 182px;
}


/** ===== IN ARTICLE 2 DESKTOP ===== **/
/* -- ALL PUBLISHER Ex Yummy --*/
#inarticle-2-desktop .banner-box img {
    position: absolute;
    width: 118px;
    height: 98px;
    top: 98px;
    left: 145px;
}
/* -- Yummy --*/
#yummy #inarticle-2-desktop .banner-box img {
    top: 160px;
    left: 44px;
    width: 283px;
    height: 37px;
}



/** ===== IN ARTICLE 3 DESKTOP ===== **/
#inarticle-3-desktop .banner-box img {
    position: absolute;
    width: 118px;
    height: 98px;
}
/* -- IDNTIMES --*/
#idntimes #inarticle-3-desktop .banner-box img {
    top: 102px;
    left: 145px;
}




/** ===== MEDIUM RECTANGLE DESKTOP & VIDEO IN BANNER MR ===== **/
#medium-rectangle-desktop .banner-box img, #medium-rectangle-desktop .banner-box video {
    position: absolute;
    width: 117px;
    height: 98px; 
}
#medium-rectangle-desktop .banner-box video {
    background-color: black;
}
#video-medium-rectangle .banner-box .video-box {
    position: absolute;
    width: 117px;
    height: 98px;
    background-color: white;
    overflow: hidden;
}
#video-medium-rectangle .banner-box .video-box video {
    width: 117px;
    height: 66px;
}
#video-medium-rectangle .banner-box .video-box span {
    position: absolute;
    font-size: 7px;
    z-index: 2;
    color: white;
    background-color: #ed2028;
    left: 0px;
    right: 0px;
    margin: auto;
    border-radius: 5px;
    display: block;
    bottom: 10px;
    padding: 1px;
    width: 64px;
    text-align: center;
    font-family: 'poppins', sans-serif;
}
/* -- IDNTIMES > Memiliki header dengan height yang lebih tinggi dibanding publisher lain--*/
#idntimes #medium-rectangle-desktop .banner-box img, #idntimes #video-medium-rectangle .banner-box .video-box {
    right: 91px;
    top: 75px;
}
/* -- YUMMY --*/
#yummy #medium-rectangle-desktop .banner-box img, #yummy #video-medium-rectangle .banner-box .video-box {
    right: 67px;
    top: 106px;
}
/* -- PUBLISHER LAIN Ex IDN TIMES & YUMMY --*/
#medium-rectangle-desktop .banner-box img, #video-medium-rectangle .banner-box .video-box {
    right: 91px;
    top: 64px;
}




/** ===== VERTICAL BILLBOARD DESKTOP ===== **/
/* -- ALL PUBLISHER Ex YUMMY --*/
#vertical-billboard-desktop .banner-box img {
    position: absolute;
    width: 117px;
    height: 231px;
    top: 59px;
    right: 89px;
}
/* -- YUMMY --*/
#yummy #vertical-billboard-desktop .banner-box img {
    top: 78px;
    right: 66px;
}












/** xxxxxxxxxx MOBILE xxxxxxxxxx **/

/** ===== FSTO MOBILE & MEGABILLBOARD & STICKY BOTTOM MOBILE ===== **/
#fsto-mobile.preview-mobile .banner-box, #megabillboard-mobile.preview-mobile .banner-box {
    pointer-events: none;
}
#fsto-mobile .site-box, #megabillboard-mobile .site-box {
    overflow: auto;
}
.site-box .megabillboard {
    padding: 0px 20px 0px 20px;
    background-color: #fafafa;
}
.site-box .megabillboard img {
    width: 288px;
    height: 432px;
}
.banner-box .sticky-bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 4;
}
.banner-box .sticky-bottom img {
    width: 296px;
    height: 87px;
}




/** ===== CAROUSEL STICKY ===== **/
.banner-box .sticky-bottom .gallery-cell {
  width: 290px;
  height: 91px;
  margin-right: 5px;
  counter-increment: gallery-cell;
}
.banner-box .sticky-bottom .gallery-cell img {
    width: 290px;
    height: 91px;
}   
/* position dots in gallery */
.flickity-page-dots {
  bottom: 0px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}
.gallery {
    background-color: white;
}

.banner-box .sticky-bottom .close_cs {
    position: relative;
    display: block;
    z-index: 9;
    text-align: right;

}
.close_cs img {
    height: 18px!important;
    width: 18px!important;
    position: relative;
    right: 5px;
    z-index: 9999;
    margin-bottom: 2px;
}

.flickity-enabled {
  position: relative;
}
.flickity-enabled:focus { outline: none; }
.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
    width: 297px;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: currentColor;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  top: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
}

.flickity-prev-next-button.previous { left: 10px; }
.flickity-prev-next-button.next { right: 10px; }
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots { direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}







/** ===== MASTHEAD STICKY ===== **/
#masthead-sticky-mobile .banner-box #mastheadsticky {
    width: 290px;
    height: 60px;
    overflow: hidden;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    display: block;
    text-align: center;
    bottom: 0;
}
#mastheadsticky img {
    max-width: 100%;
    left: 0;
    right: 0;
    margin: auto;
}
#mastheadsticky .ms_big img {
    width: 290px;
    height: 290px;
}
#mastheadsticky .ms_small img {
    width: 290px;
    height: 91px;
}
#mastheadsticky video {
    position: absolute;
    margin: auto;
    width: 260px;
    height: 150px;
    left: 0;
    right: 0;
    top: 5px;
    z-index: 1;
}
#mastheadsticky .ms_small { 
    width:290px; 
    height:91px;
    bottom: 0;
    position: absolute;
}
#mastheadsticky .ms_big { 
    width:290px; 
    height:290px; 
    display: none;
}
.close_big {
    position: absolute;
    display: block;
    z-index: 9;
    top: 0;
    right: 0;
}
#mastheadsticky .close_big img {
    height: auto;
    width: 57px;
}
.close_ms {
    position: absolute;
    display: block;
    z-index: 9;
    top: 0;
    right: 0;
}
.close_ms > img {
    height: 15px;
}







/** ===== LEADERBOARD MOBILE & MASTHEAD MOBILE ===== **/
/* -- ALL PUBLISHER Ex YUMMY --*/
#leaderboard-mobile .banner-box img, #masthead-mobile .banner-box img, #masthead-mobile .banner-box video{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
#leaderboard-mobile .banner-box img, #masthead-mobile .banner-box img {
    width: 277px;
    height: 231px;
    top: 179px;
}
#masthead-mobile .banner-box video {
    width: 220px;
    height: 124px;
    top: 187px;
}
/* -- YUMMY --*/
#yummy #leaderboard-mobile .banner-box img, #yummy #masthead-mobile .banner-box img {
    top: 112px;
}
#yummy #masthead-mobile .banner-box video {
    top: 120px;
}






/** ===== VIDEO IN BANNER ARTICLE 1 MOBILE ===== **/
/* -- ALL PUBLISHER --*/
#video-article .banner-box .video-box {
    position: absolute;
    width: 285px;
    height: 238px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 212px;
    margin: auto;
}
#video-article .banner-box .video-box video {
    width: 285px;
    height: 160px;
}
#video-article .banner-box .video-box span {
    position: absolute;
    font-size: 13px;
    z-index: 2;
    color: white;
    background-color: #ed2028;
    left: 0px;
    right: 0px;
    margin: auto;
    border-radius: 5px;
    display: block;
    bottom: 26px;
    padding: 3px;
    width: 110px;
    text-align: center;
    font-family: 'poppins', sans-serif;
}



/** ===== IN ARTICLE 1 MOBILE ===== **/
/* -- ALL PUBLISHER --*/
#inarticle-1-mobile .banner-box img {
    position: absolute;
    width: 300px;
    height: 446px;
    top: 205px;
    left: 18px;
}


/** ===== IN ARTICLE 2 MOBILE ===== **/
/* -- ALL PUBLISHER --*/
#inarticle-2-mobile .banner-box img {
    position: absolute;
    width: 285px;
    height: 238px;
    top: 274px;
    left: 26px;
}



/** ===== IN ARTICLE SWIPE MOBILE ===== **/
/* -- ALL PUBLISHER --*/

#inarticle-swipe-mobile .slider {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    -webkit-animation:animation ease 1s;
    animation-delay:.8s;
    animation-fill-mode:backwards;
    width: 275px;
    height: 200px;
    position: relative;
    perspective:1000px;
    transition:ease-in-out .2s;
}
#inarticle-swipe-mobile .slider-container {
    position: relative;
    background-color: black;
    height: 280px;
    width: 100%;
    top: 254px;
}
#inarticle-swipe-mobile .banner-box img{
    width: 275px;
    height: 230px;
}
#inarticle-swipe-mobile .slide{
    -webkit-user-select:none;
    user-select:none;
    -moz-user-select:none;
    position:absolute;
    height:300px;
    width:250px;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    text-align:center;
    box-sizing:border-box;    
}
#inarticle-swipe-mobile .slide img { 
    text-align:center;
    width: 270px; 
    height: 225px; 
    -webkit-user-drag:none;
    user-drag:none;
    -moz-user-drag:none; 
    border-radius:2px; 
    box-shadow: 2px 1px 10px #000;
}

@-webkit-keyframes animation{from{opacity:0; -webkit-transform:scale(1.2) rotateX(45deg);transform:scale(1.2) rotateX(45deg);} to{ }}

@-webkit-keyframes animation2{from{opacity:0; -webkit-transform:scale(1.2) rotateX(45deg);transform:scale(1.2) rotateX(45deg);} to{ }}

@keyframes swipe {
    0% {
        left: -60px;
    }
    20% {
        left: -60px;
    }
    40% {
        left: 60px;
    }
    60% {
        left: 60px;
    }
    80% {
        left: 60px;
    }
    100% {
        left: -60px;
    }
}
.guide-anim {
    animation: swipe 2s infinite; /* IE 10+, Fx 29+ */
    animation-timing-function: linear;

}
img.guide-anim {
    position: absolute;
    max-width: 50px;
    z-index: 9;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
}






  

/** ===== RMB ===== **/
#rmb-mockup .site-box {
    background-color: white;
}
#rmb-mockup video {
    position: relative;
    max-width: 340px;
    height: auto;
    top: 20px;
    left: -2px;
}





  



/* ========== ****************  RESPONSIVE **************** ========== */

@media (max-width: 480px) {
    
    /* ====== RESPONSIVE DISPLAY DESKTOP ====== */
    
    
    /** ===== RESPONSIVE FSTO DESKTOP ===== **/
    /* -- ALL PUBLISHER --*/

    #fsto-desktop .sticky-bottom {
        height: 42px;
    }
    #fsto-desktop .sticky-bottom img {
        width: 140px;
        height: auto!important;
    }
    #fsto-desktop img.skin-left, #fsto-desktop img.skin-right {
        width: 26px;
    }
    #fsto-desktop img.skin-left {
        top: 41px;
        left: 12px;
    }
    #fsto-desktop img.skin-right {
        top: 41px;
        right: 12px;
    }
    
    
    /** ===== RESPONSIVE LEADERBOARD DESKTOP ===== **/
    /* -- ALL PUBLISHER --*/
    #leaderboard-desktop .banner-box img {
        width: 142px;
        height: 18px;
        top: 1px;
    }
      
    
    /** ===== RESPONSIVE BILLBOARD DESKTOP & MASTHEAD DESKTOP ===== **/
    /* -- ALL PUBLISHER Ex IDN TIMES & YUMMY --*/
    #billboard-desktop .banner-box img, #masthead-desktop .banner-box img {
        width: 172px;
        height: 44px;
        top: 31px;
        left: 45px;
    }
    /* -- IDNTIMES --*/
    #idntimes #billboard-desktop .banner-box img, #idntimes #masthead-desktop .banner-box img {
        top: 37px;
    }
    #idntimes #masthead-desktop .banner-box video {
        width: 71px;
        height: 40px;
        top: 39px;
        left: 47px;
    }
    /* -- POPMAMA & FORTUNE  --*/
    #popmama #masthead-desktop .banner-box video, #fortune #masthead-desktop .banner-box video {
        width: 75px;
        height: 42px;
        top: 32px;
        left: 47px;
    }
    /* -- POPBELA  --*/
    #popbela #masthead-desktop .banner-box video {
        width: 50px;
        height: 28px;
        top: 39px;
        left: 50px;
    }
    /* -- GGWP & DUNIAKU  --*/
    #ggwp #masthead-desktop .banner-box video, #duniaku #masthead-desktop .banner-box video {
        width: 68px;
        height: 38px;
        top: 34px;
        left: 48px;
    }
    /* -- YUMMY --*/
    #yummy #billboard-desktop .banner-box img, #yummy #masthead-desktop .banner-box img {
        width: 170px;
        height: 44px;
        top: 16px;
        left: 47px;
    }
    #yummy #masthead-desktop .banner-box video {
        width: 69px;
        height: 38px;
        top: 19px;
        left: 48px;
    }
    
    
    /** ===== RESPONSIVE SKINAD DESKTOP ===== **/
    /* -- ALL PUBLISHER Ex YUMMY --*/
    #skinad .banner-box img {
        width: 29px;
        height: 109px;
    }
    #skinad .banner-box img.skin-left {
        top: 25px;
        left: 8px;
    }
    #skinad .banner-box img.skin-right {
        top: 25px;
        right: 8px;
    }
    /* -- YUMMY --*/
    #yummy #skinad .banner-box img {
        width: 21px;
        height: 113px;
    }
    #yummy #skinad .banner-box img.skin-left {
        top: 24px;
        left: 0px;
    }
    #yummy #skinad .banner-box img.skin-right {
        top: 24px;
        right: 0px;
    }
    
    
    
    /** ===== RESPONSIVE STICKY BOTTOM DESKTOP ===== **/
    /* -- ALL PUBLISHER --*/
    #sticky-bottom-desktop .banner-box img {
        width: 139px;
        height: 18px;
        bottom: 3px;
    }
    
    
    
    
    /** ===== RESPONSIVE MEDIUM RECTANGLE DESKTOP & VIDEO IN BANNER MR ===== **/
    #medium-rectangle-desktop .banner-box img, #medium-rectangle-desktop .banner-box video {
        width: 57px;
        height: 48px; 
    }
    #video-medium-rectangle .banner-box .video-box {
        width: 117px;
        height: 98px;
    }
    #video-medium-rectangle .banner-box .video-box video {
        width: 117px;
        height: 66px;
    }
    #video-medium-rectangle .banner-box .video-box span {
        font-size: 7px;
        border-radius: 5px;
        bottom: 10px;
        padding: 1px;
        width: 64px;
    }
    /* -- IDNTIMES > Memiliki header dengan height yang lebih tinggi dibanding publisher lain--*/
    #idntimes #medium-rectangle-desktop .banner-box img, #idntimes #video-medium-rectangle .banner-box .video-box {
        right: 44px;
        top: 35px;
    }
    /* -- YUMMY --*/
    #yummy #medium-rectangle-desktop .banner-box img, #yummy #video-medium-rectangle .banner-box .video-box {
        right: 33px;
        top: 52px;
    }
    /* -- PUBLISHER LAIN Ex IDN TIMES & YUMMY --*/
    #medium-rectangle-desktop .banner-box img, #video-medium-rectangle .banner-box .video-box {
        right: 44px;
        top: 30px;
    }
    
    
    
    
    /** ===== RESPONSIVE VERTICAL BILLBOARD DESKTOP ===== **/
    /* -- ALL PUBLISHER Ex YUMMY --*/
    #vertical-billboard-desktop .banner-box img {
        width: 57px;
        height: 113px;
        top: 28px;
        right: 44px;
    }
    /* -- YUMMY --*/
    #yummy #vertical-billboard-desktop .banner-box img {
        top: 38px;
        right: 32px;
    }
    
    
    
    
    /** ===== RESPONSIVE IN ARTICLE 1 DESKTOP ===== **/
    /* -- ALL PUBLISHER Ex Yummy --*/
    #inarticle-1-desktop .banner-box img {
        width: 61px;
        height: 93px;
        top: 43px;
        left: 69px; 
    }
    /* -- Yummy --*/
    #yummy #inarticle-1-desktop .banner-box img {
        width: 60px;
        height: 90px;
        top: 55px;
        left: 59px; 
    }
    
    
    
    
    /** ===== RESPONSIVE IN ARTICLE 2 DESKTOP ===== **/
    /* -- ALL PUBLISHER Ex Yummy --*/
    #inarticle-2-desktop .banner-box img {
        width: 59px;
        height: 49px;
        top: 47px;
        left: 70px;
    }
    /* -- Yummy --*/
    #yummy #inarticle-2-desktop .banner-box img {
        width: 139px;
        height: 18px;
        top: 78px;
        left: 21px;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /* ====== RESPONSIVE MOBILE ====== */
    
    /** ===== RESPONSIVE FSTO MOBILE & MEGABILLBOARD & STICKY BOTTOM MOBILE ===== **/
    .site-box .megabillboard {
        padding: 0px 20px 0px 20px;
        background-color: #fafafa;
    }
    .site-box .megabillboard img {
        width: 216px;
        height: 324px;
    }
    .banner-box .sticky-bottom {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: auto;
        padding: 5px;
        background-color: #f6f6f6;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 4;
    }
    .banner-box .sticky-bottom img {
        width: 216pxpx;
        height: 68px;
    }
    .preview-mobile .site-box .top-text {
        font-size: 10px;
    }
    
    /** ===== RESPONSIVE LEADERBOARD MOBILE & MASTHEAD MOBILE ===== **/
    /* -- ALL PUBLISHER Ex YUMMY --*/
    #leaderboard-mobile .banner-box img, #masthead-mobile .banner-box img {
        width: 207px;
        height: 173px;
        top: 133px;
    }
    #masthead-mobile .banner-box video {
        width: 165px;
        height: 93px;
        top: 138px;
    }
    /* -- YUMMY --*/
    #yummy #leaderboard-mobile .banner-box img, #yummy #masthead-mobile .banner-box img {
        top: 84px;
    }
    #yummy #masthead-mobile .banner-box video {
        top: 90px;
    }
    
    /* -- RESPONSIVE MASTHEAD STICKY -- */
    #masthead-sticky-mobile .banner-box #mastheadsticky {
        height: 94px;
        width: 225px;
    }
    #mastheadsticky video {
        width: 215px;
        height: 121px;
    }
    #mastheadsticky .ms_big {
        width: 225px;
    }
    #mastheadsticky .ms_big img {
        width: 225px;
        height: 225px;
    }
    #mastheadsticky .ms_small {
        width: 225px;
        height: 70px;
    }
    #mastheadsticky .ms_small img {
        width: 225px;
        height: 70px;
    }
    #mastheadsticky .close_big img {
        width: auto;
        height: 15px;
    }
    
    
    /** ===== RESPONSIVE IN ARTICLE 1 MOBILE ===== **/
    /* -- ALL PUBLISHER --*/
    #inarticle-1-mobile .banner-box img {
        position: absolute;
        width: 223px;
        height: 334px;
        top: 152px;
        left: 14px;
    }
    
    
    
    /** ===== RESPONSIVE IN ARTICLE 2 MOBILE ===== **/
    /* -- ALL PUBLISHER --*/
    #inarticle-2-mobile .banner-box img {
        position: absolute;
        width: 214px;
        height: 177px;
        top: 204px;
        left: 18px;
    }
    
    
    /* -- RESPONSIVE VIDEO IN BANNER ARTICLE 1 MOBILE -- */
    #video-article .banner-box .video-box {
        width: 207px;
        height: 173px;
        top: 160px;
    }
    #video-article .banner-box .video-box video {
        width: 207px;
        height: 116px;
    }
    #video-article .banner-box .video-box span {
        font-size: 10px;
        width: 100px;
    }
    
    /** ===== RESPONSIVE IN ARTICLE SWIPE MOBILE ===== **/
    /* -- ALL PUBLISHER --*/

    #inarticle-swipe-mobile .slider {
        width: 275px;
        height: 115px;
    }
    #inarticle-swipe-mobile .slider-container {
        height: 210px;
        top: 190px;
    }
    #inarticle-swipe-mobile .banner-box img{
        width: 275px;
        height: 230px;
    }
    #inarticle-swipe-mobile .slide{
        height:300px;
        width:250px;
    }
    #inarticle-swipe-mobile .slide img { 
        width: 180px; 
        height: 150px; 
    }
    
    
    /* -- RESPONSIVE CAROUSEL STICKY -- */
    .flickity-enabled.is-draggable .flickity-viewport {
        width: 220px;
    }
    
    #rmb-mockup video {
        position: relative;
        max-width: 254px;
        height: auto;
        top: 14px;
    }
    .gallery-cell {
        width: 220px!important;
        height: 69px!important;
    }
    .gallery-cell img {
        width: 220px!important;
        height: auto!important;
    }
    
    
    
    
}





/* ==== Yummt App ==== */


#YummyApp .web_box, #YummyWeb .web_box {
    overflow-y: hidden;
    overflow-x: hidden;
}

/* Lederboard */
#YummyApp.leaderboard .banner_ad {
    left: 1px;
    right: 0;
    top: 310px;
    margin: auto;
    text-align: center;
    background-color: transparent;
    padding: 0;
    position: relative;
    z-index: 6;
}

/* sticky */
#YummyApp.sticky .banner_ad {
    left: 1px;
    right: 0;
    bottom: 62px;
    margin: auto;
    text-align: center;
    background-color: transparent;
    padding: 0;
    position: absolute;
    z-index: 6;
}

#YummyApp.leaderboard .banner_ad img, #YummyApp.sticky .banner_ad img {
    width: 300px;
    height: 48px;
}

/* middle 1 */
#YummyApp.middle1 .banner_ad {
    left: 1px;
    right: 0;
    top: 394px;
    margin: auto;
    text-align: center;
    background-color: transparent;
    padding: 0;
    position: absolute;
    z-index: 6;
}
#YummyApp.middle1 .banner_ad img {
    width: 300px;
    height: 96px;
}

/* middle 2 */
#YummyApp.middle2 .banner_ad {
    left: 1px;
    right: 0;
    top: 300px;
    margin: auto;
    text-align: center;
    background-color: transparent;
    padding: 0;
    position: absolute;
    z-index: 6;
}
#YummyApp.middle2 .banner_ad img {
    width: 260px;
    height: 217px;
}
