/* update oktober 2025 */


.custom-file-label {
    font-size: 1.3rem;
}
.mockup-pdf object {
    height: 800px;
}


#sidebar-wrapper .sidebar-nav li .nakwa li a {
    position: relative;
}

#sidebar-wrapper .sidebar-nav li .nakpat {
  background-color: white;
}
#sidebar-wrapper .sidebar-nav li .nakpat li a {
  padding-left: 55px;
  border-bottom: 1px solid #d8d8d8;
}
.pad20 {
    padding: 20px;
}

#pooh, #popb, #popm, #yum {
    margin: 15px 0;
    border: 1px solid #ccc;
}
#pooh th, #pooh td, #popb th, #popb td, #popm th, #popm td, #yum th, #yum td {
    text-align: center;
    font-family: 'Helvetica Neue Light', sans-serif;
    letter-spacing: 1px;
    vertical-align: middle;
}
#pooh th.pkg, #pooh thead {
    background-color: #ed2028;
    color: white;
}
#popb th.pkg, #popb thead {
    background-color: #d41968;
    color: white;
}
#popm th.pkg, #popm thead {
    background-color: #9c80d7;
    color: white;
}
#yum th.pkg, #yum thead {
    background-color: #f59523;
    color: white;
}
#pooh td.bv, #popb td.bv, #popm td.bv, #yum td.bv {
    background-color: #eee;
}
.bv-tag {
    
}


.contact-us-page h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 32px;
    letter-spacing: .2px;
}
.contact-us-page .contact-info h4 {
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
    letter-spacing: .2px;
}
.contact-us-page .contact-info table th, .contact-us-page .contact-info table td {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    letter-spacing: .2px;
}




@media screen and (max-width: 480px) {
   .overscroll {
        overflow: scroll;
    } 
    .mockup-pdf object {
        height: 475px;
    }
    .mobile-pad0 {
        padding: 0!important;
    }
}