
.newtag span {
    position: absolute;
    font-family: 'Helvetica Neue Light', sans-serif;
    font-size: 8px;
    background-color: red;
    padding: 2px 5px;
    color: white;
    text-align: center;
    line-height: normal;
    right: 55px;
    float: right;
    border-radius: 10px;
    text-indent: 0;
    top: 5px;
}
.pad20 {
    padding: 20px;
}

#pooh {
    margin: 15px 0;
    border: 1px solid #ccc;
}
#pooh th, #pooh td {
    text-align: center;
    font-family: 'Helvetica Neue Light', sans-serif;
    letter-spacing: 1px;
    vertical-align: middle;
}
#pooh th.pkg, thead {
   background-color: #ed2028;
    color: white;
}
#pooh td.bv {
    background-color: #eee;
}
.bv-tag {
    
}
@media screen and (max-width: 480px) {
   .overscroll {
        overflow: scroll;
    } 
}