@font-face {
    font-family: GochiHand-Regular;
    src: url("../fonts/GochiHand-Regular.ttf") format("truetype");
}
@font-face {
    font-family: Carnas-Bold;
    src: url("../fonts/Carnas-Bold.otf") format("opentype");
}
@font-face {
    font-family: Carnas-medium;
    src: url("../fonts/Carnas-medium.otf") format("opentype");
}

body {
    background-color: #fff!important;
    overflow-x: hidden!important;
}

.no-padding {
    padding: 0!important;
}
.bg1 {
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}
 




/* parallax goyang */
#paraContainer {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #ededed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}
.para1 {
    display: block;
    position: absolute;
    background-image: url(../images/cover/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 100vh;
    width: 100%;
}
.para2 {
    display: block;
    position: absolute;
    background-image: url(../images/cover/sakura.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
}
.para3 {
    display: block;
    position: absolute;
    background-image: url(../images/cover/title.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
}



/* All Section */
.sec1, .sec2, .sec3, .sec4, .sec5, .sec6, .sec7, .sec8, .sec9, .sec10, .sec11, .sec12, .sec13 {
    text-align: center;
}


/* All h3 */
.sec1 h3, .sec5 h3, .sec6 h3, .sec7 h3, .sec8 h3, .sec9 h3, .sec10 h3 {
    font-size: 55px;
    font-family: 'GochiHand-Regular', sans-serif;
    margin-bottom: 30px;
}

/* All h4 */
.sec1 h4, .sec2 h4, .sec5 h4 {
    font-size: 36px;
    font-family: 'Carnas-Bold', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

/* All p */
.sec1 p, .sec2 p, .sec3 p, .sec4 p, .sec5 p, .sec7 p, .sec8 p, .sec9 p, .sec10 p {
    font-size: 25px;
    font-family: 'Carnas-medium', sans-serif;
    letter-spacing: 1px;
}

/* --- Section 1 --- */
.sec1 {
    padding-top: 15%;
}
.sec1 .text-box {
    max-width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    padding-left: 100px;
}
.sec1 h3 {
    color: #5b39c9;
	filter: drop-shadow(0 0 1px #fff) drop-shadow(1px 1px 0 #fff)  drop-shadow(-1px 1px 0 #fff) drop-shadow(1px -1px 0 #fff) drop-shadow(-1px -1px 0 #fff);
}
.sec1 img {
    max-width: 550px;
}


/* --- Section 2 --- */
.sec2 .text-box {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}
.sec2 h4 {
    color: white;
}


/* --- Section 2 --- */
.sec3 .img-box1 {
    position: relative;
}
.sec3 .img-box1 img {
    max-width: 350px;
    position: absolute;
    right: 50px;
    top: 100px;
}
.sec3 .img-box2 {
    position: relative;
}
.sec3 .img-box2 img {
    max-width: 700px;
    position: absolute;
    left: -100px;
    top: 50px;
}


/* --- Section 4 --- */
.sec4 {
    position: relative;
}
.sec4 img.overlay{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 3;
}
.sec4 .img-box {
    position: absolute;
    bottom: 5px;
    right: 0;
}
.sec4 .img-box img {
    max-width: 500px;
}
.sec4 .img-box2 {
    position: absolute;
    top: 200px;
    right: -60px;
}
.sec4 .img-box2 img {
    max-width: 650px;
}

/* --- Section 5 --- */
.sec5 {
    padding-top: 10%;
}
.sec5 .text-box {
    max-width: 70%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}
.sec5 h3 {
    color: #fff200;
    filter: drop-shadow(0 0 1px #662d91) drop-shadow(1px 1px 0 #662d91)  drop-shadow(-1px 1px 0 #662d91) drop-shadow(1px -1px 0 #662d91) drop-shadow(-1px -1px 0 #662d91);
}
.sec5 h4 {
    color: #662d91;
}
.sec5 p {
    color: #662d91;
}
.sec5 .img-box {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -90px;
}
.sec5 .img-box img {
    max-width: 70%;
}

/* --- Section 6 --- */
.sec6 {
    padding: 5%;
}
.sec6 .image-box {
    position: relative;
}
.sec6 img {
    max-width: 70%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}


/* --- Section 7 --- */
.sec7 {
    padding-top: 10%;
}
.sec7 .text-box {
    max-width: 70%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}
.sec7 h3 {
    color: #fff;
    filter: drop-shadow(0 0 1px #0171c9) drop-shadow(1px 1px 0 #0171c9)  drop-shadow(-1px 1px 0 #0171c9) drop-shadow(1px -1px 0 #0171c9) drop-shadow(-1px -1px 0 #0171c9);
}
.sec7 p {
    color: #0171c9;
}


/* --- Section 8 --- */
.sec8 .text-box {
    max-width: 80%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    top: 23%;
}
.sec8 .img-box {
    position: absolute;
    left: 0;
    bottom: 18%;
}
.sec8 .img-box img {
    max-width: 170px;
}
.sec8 h3 {
    color: #fff;
    filter: drop-shadow(0 0 1px #662d91) drop-shadow(1px 1px 0 #662d91)  drop-shadow(-1px 1px 0 #662d91) drop-shadow(1px -1px 0 #662d91) drop-shadow(-1px -1px 0 #662d91);
}
.sec8 p {
    color: #662d91;
}


/* --- Section 9 --- */
.sec9 .col-lg-7 {
    padding-right: 8%;
}
.sec9 .img-box {
    position: absolute;
    right: 0;
    bottom: 12%;
}
.sec9 .img-box img {
    max-width: 540px;
}
.sec9 .text-box {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    top: 20%;
}
.sec9 h3 {
    color: #fff200;
    filter: drop-shadow(0 0 1px #055993) drop-shadow(1px 1px 0 #055993)  drop-shadow(-1px 1px 0 #055993) drop-shadow(1px -1px 0 #055993) drop-shadow(-1px -1px 0 #055993);
}
.sec9 p {
    color: #055993;
}

/* --- Section 10 --- */
.sec10 {
    padding-top: 15%;
    padding-left: 5%!important;
}
.sec10 .img-box {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 20%;
}
.sec10 .img-box img {
    max-width: 470px;
}
.sec10 .text-box {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 50px;
}
.sec10 h3 {
    color: #fff;
    filter: drop-shadow(0 0 1px #662d91) drop-shadow(1px 1px 0 #662d91)  drop-shadow(-1px 1px 0 #662d91) drop-shadow(1px -1px 0 #662d91) drop-shadow(-1px -1px 0 #662d91);
}
.sec10 p {
    color: #662d91;
}


/* --- Section 11 --- */
.sec11 {
    padding-top: 10%;
}
.sec11 h2 {
    color: #fff;
    font-size: 60px;
    font-family: 'GochiHand-Regular', sans-serif;
    filter: drop-shadow(0 0 1px #fe6eca) drop-shadow(1px 1px 0 #fe6eca)  drop-shadow(-1px 1px 0 #fe6eca) drop-shadow(1px -1px 0 #fe6eca) drop-shadow(-1px -1px 0 #fe6eca);
}


/* --- Section 12 --- */
.bg-slider3 h3 {
    color: #fff;
    font-size: 45px;
    font-family: 'GochiHand-Regular', sans-serif;
    filter: drop-shadow(0 0 1px #fe6eca) drop-shadow(1px 1px 0 #fe6eca)  drop-shadow(-1px 1px 0 #fe6eca) drop-shadow(1px -1px 0 #fe6eca) drop-shadow(-1px -1px 0 #fe6eca);
    margin: auto;
    max-width: 70%;
    position: relative;
    top: 17%;
}
.bg-slider3:nth-child(2) h3{
    filter: drop-shadow(0 0 1px #ed1c24) drop-shadow(1px 1px 0 #ed1c24)  drop-shadow(-1px 1px 0 #ed1c24) drop-shadow(1px -1px 0 #ed1c24) drop-shadow(-1px -1px 0 #ed1c24);
}
.bg-slider3:nth-child(3) h3{
    filter: drop-shadow(0 0 1px #0269af) drop-shadow(1px 1px 0 #0269af)  drop-shadow(-1px 1px 0 #0269af) drop-shadow(1px -1px 0 #0269af) drop-shadow(-1px -1px 0 #0269af);
}
.bg-slider3:nth-child(4) h3{
    filter: drop-shadow(0 0 1px #10827c) drop-shadow(1px 1px 0 #10827c)  drop-shadow(-1px 1px 0 #10827c) drop-shadow(1px -1px 0 #10827c) drop-shadow(-1px -1px 0 #10827c);
}
.bg-slider3:nth-child(5) h3{
    filter: drop-shadow(0 0 1px #4e2faf) drop-shadow(1px 1px 0 #4e2faf)  drop-shadow(-1px 1px 0 #4e2faf) drop-shadow(1px -1px 0 #4e2faf) drop-shadow(-1px -1px 0 #4e2faf);
}
.bg-slider3 p {
    font-family: 'Carnas-medium', sans-serif;
    font-size: 19px;
    padding: 10px;
    margin-bottom: 0;
    color: #d643a9;
}
.bg-slider3:nth-child(2) p {
    color: #ed1c24;
}
.bg-slider3:nth-child(3) p {
    color: #0269af;
}
.bg-slider3:nth-child(4) p {
    color: #10827c;
}
.bg-slider3:nth-child(5) p {
    color: #4e2faf;
}
.content-slider {
	position: absolute;
	z-index: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
    text-align: center;
}
#slider3 .content-slider .desc {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    max-width: 45%;
    border-radius: 50px;
}
.sec12 .carousel-control-next {
    right: 37%;
}
.sec12 .carousel-control-prev {
    left: 37%;
}

/* --- Section 13 --- */
.sec13 {
    padding-top: 10%;
}
.sec13 h3 {
    font-family: 'Carnas-Bold', sans-serif;
    color: #fff;
    filter: drop-shadow(0 0 2px #662d91) drop-shadow(2px 2px 0 #662d91)  drop-shadow(-2px 2px 0 #662d91) drop-shadow(2px -2px 0 #662d91) drop-shadow(-2px -2px 0 #662d91);
    margin: 30px 0;
    letter-spacing: 1px;
}
.sec13 h3 span {
    color: #eff42a;
}
.sec13 img {
    max-width: 400px;
}
.sec13 a {
    font-family: 'Carnas-Bold', sans-serif;
    font-size: 30px;
    color: white;
    background-color: #662d91;
    padding: 10px 30px;
    border-radius: 40px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; 
    box-shadow: 1px 4px 10px #333;
}
.sec13 a:hover {
    text-decoration: none;
    color: white;
    border-radius: 20px;
    box-shadow: none;
}


.ornamen1 .ornamen-box {
    position: relative;
    margin-top: -200px;
}
.ornamen1 .ornamen-box img {
    max-width: 300px;
    margin-top: 60px;
}
.ornamen2 .ornamen-box {
    position: relative;
    margin-top: -28%;
}
.ornamen2 .ornamen-box img {
    max-width: 300px;
    float: right;
}
.ornamen3 .ornamen-box {
    position: relative;
}
.ornamen3 .ornamen-box img {
    max-width: 250px;
}

/* parallax */
/*
.parallax {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.parallax-layer__1 {
    background-image: url(../images/cover/1.png);
    width: 120%;
    height: 120%;
    left: -10%;
    top: -10%;
}
.parallax-layer__2 {
  background-image: url(../images/cover/2.png);
    width: 110%;
    height: 110%;
    left: -5%;
    top: -5%;
}
.parallax-layer__3 {
  background-image: url(../images/cover/3.png);
    width: 110%;
    height: 110%;
    left: -5%;
    top: -5%;
}
.parallax-layer__4 {
  background-image: url(../images/cover/4.png);
    width: 110%;
    height: 110%;
    left: -5%;
    top: -5%;
}
.parallax-layer__5 {
  background-image: url(../images/cover/5.png);
    width: 110%;
    height: 110%;
    left: -5%;
    top: -5%;
}
.parallax-layer__6 {
  background-image: url(../images/cover/6.png);
    width: 122%;
    height: 122%;
    left: -11%;
    top: -10%;
}
.parallax-layer__7 {
  background-image: url(../images/cover/7.png);
    width: 110%;
    height: 110%;
    left: -10%;
    top: -5%;
}
.parallax-layer__8 {
    background-image: url(../images/cover/8.png);
    width: 110%;
    height: 100%;
    left: -5%;
    bottom: -50%
    
}
.parallax-layer__9 {
    background-image: url(../images/cover/9.png);
    width: 110%;
    height: 110%;
    left: -5%;
    bottom: -5%
}
.parallax-layer__10 {
    background-image: url(../images/cover/10.png);
    width: 110%;
    height: 110%;
    left: -5%;
    bottom: -5%
}
*/

.loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
    z-index: 99999;
    background: #d80993;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; 
    height: 100vh;
}
.loader._show {
    visibility: visible;
    opacity: 1; }
.loader--main {
    margin-top: 40vh;
}
/* ========== client class ========== */
.olx {
    overflow: hidden;
}
/* ========== welcome page ========== */

#mobile-only {
    background-image: url(../images/mobile/cover.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

/* -- SLIDER 3 -- */

.bg-slider3 {
	background: url(../images/slider/1.png) no-repeat top center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.bg-slider3:nth-child(2) {
	background: url(../images/slider/2.png) no-repeat top center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.bg-slider3:nth-child(3) {
	background: url(../images/slider/3.png) no-repeat top center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.bg-slider3:nth-child(4) {
	background: url(../images/slider/4.png) no-repeat top center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.bg-slider3:nth-child(5) {
	background: url(../images/slider/5.png) no-repeat top center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}


#slide1, #slide2, #slide3 {
    max-width: 800px;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.carousel-item a {
    color: #000;
}
.carousel-item a:hover {
    color: #000;
    text-decoration: none;
}
.carousel-item img {
    max-width: 400px;
}
.carousel-item .desc {
    max-width: 50%;
    margin: auto;
    height: auto;
}
#slide1 .carousel-item .desc h3 {
    font-family: 'Carnas-medium', sans-serif;
    color: #0171c9;
    background-color: #abdfff;
    font-size: 22px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    border-radius: 50px;
    border: 2px solid #fff;
    padding: 20px;
}
#slide1 .carousel-item .desc p {
    font-family: 'Platform-Medium', sans-serif;
    color: #fff;
    font-size: 22px;
}
#slide2 .carousel-item .desc h3 {
    font-family: 'Platform-Medium', sans-serif;
    color: #000;
    font-size: 26px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#slide2 .carousel-item .desc p {
    font-family: 'Platform-Medium', sans-serif;
    color: #000;
    font-size: 22px;
}
#slide3 .carousel-item .desc {
    max-width: 42%;
}
#slide3 .carousel-item .desc h3 {
    font-family: 'Platform-Medium', sans-serif;
    color: #fff;
    font-size: 26px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#slide3 .carousel-item .desc p {
    font-family: 'Platform-Regular', sans-serif;
    color: #fff;
    font-size: 22px;
    letter-spacing: 1px;
}
.carousel-control-next, .carousel-control-prev {
    top: 50%;
    transform: translateY(-50%);
}

.carousel-indicators li {
    opacity: 1!important;
    margin: 0 10px!important;
}
.carousel-indicators .active, .sect10 .carousel-indicators .active {
    margin: 0 10px!important;
    background-color: #f59680!important;
}
.sect10 .carousel-indicators li {
    background-color: #0c0b3c!important;
}
.prevbtn {
    background-image: url(../images/panah-kiri.png);
    width: 50px;
    height: 52px;
    display: block;
    background-size: cover;
}
/*
.prevbtn:active {
    background-image: url(../images/panah-kiri.png)!important;
}
.prevbtn:hover {
    background-image: url(../images/panah-kiri-hover.png);
}
*/
.nextbtn {
    background-image: url(../images/panah-kanan.png);
    width: 50px;
    height: 52px;
    display: block;
    background-size: cover;
}
/*
.nextbtn:active {
    background-image: url(../images/panah-kanan.png)!important;
}
.nextbtn:hover {
    background-image: url(../images/panah-kanan-hover.png);
}
*/



#slide2 .prevbtn {
    background-image: url(../images/panah-kiri-2.png);
    width: 50px;
    height: 52px;
    display: block;
    background-size: cover;
}
/*
#slide2 .prevbtn:active {
    background-image: url(../images/panah-kiri-2.png)!important;
}
#slide2 .prevbtn:hover {
    background-image: url(../images/panah-kiri-2-hover.png);
}
*/
#slide2 .nextbtn {
    background-image: url(../images/panah-kanan-2.png);
    width: 50px;
    height: 52px;
    display: block;
    background-size: cover;
}
/*
#slide2 .nextbtn:active {
    background-image: url(../images/panah-kanan-2.png)!important;
}
#slide2 .nextbtn:hover {
    background-image: url(../images/panah-kanan-2-hover.png);
}
*/
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}





.desktop_{
    display: block;
}
.mobile_ {
    display: none
}




/* ================== responsive ==================== */

@media 
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1600px), 
    only screen and (min-resolution: 192dpi) and (min-width: 1600px) {
        
        .bg1 {
        background-size: cover!important;
        }   
}
        
/* Responsive Layar desktop zoom out 80% dari layar 1366x768 */
@media only screen and (min-width: 1600px) {
    .bg1 {
        background-size: cover!important;
    }
    .sec1, .sec2, .sec3, .sec4, .sec5, .sec6, .sec7, .sec8, .sec9, .sec10, .sec11, .sec12, .sec13 {
        height: 969px;
    } 
    .sec1 h3, .sec5 h3, .sec6 h3, .sec7 h3, .sec8 h3, .sec9 h3, .sec10 h3 {
        font-size: 62px;
    }
    .sec1 h4, .sec2 h4, .sec5 h4 {
        font-size: 40px;
    }
    .sec1 p, .sec2 p, .sec3 p, .sec4 p, .sec5 p, .sec7 p, .sec8 p, .sec9 p, .sec10 p {
        font-size: 30px;
    }
    .sec1 img {
        max-width: 700px;
    }
    .sec3 .img-box1 img {
        max-width: 400px;
    }
    .sec4 .img-box img{
        max-width: 550px;
    }
    .sec4 .img-box2 img {
        max-width: 720px;
    }
    .sec8 .img-box img{
        max-width: 194px;
    }
    .sec9 .img-box {
        bottom: 17%;
    }
    .sec9 .img-box img {
        max-width: 580px;
    }
    .sec10 .img-box img {
        max-width: 515px;
    }
    .carousel-item img {
        max-width: 480px;
    }
    .bg-slider3 p {
        font-size: 23px;
    }
    .sec13 img {
        max-width: 550px;
    }
    .sec13 h3 {
        font-size: 40px;
    }
}

/* Responsive Layar desktop zoom out 90% dari layar 1366x768 */
@media only screen and (min-width: 1500px) and (max-width: 1599px) {
    .bg1 {
        background-size: cover!important;
    }
     .sec1, .sec2, .sec3, .sec4, .sec5, .sec6, .sec7, .sec8, .sec9, .sec10, .sec11, .sec12, .sec13 {
        height: 854px;
    }  
}


/* Responsive untuk MacBook Air */
@media only screen and (min-width: 1367px) and (max-width: 1499px) {
     .bg1 {
        background-size: cover!important;
    }
     .sec1, .sec2, .sec3, .sec4, .sec5, .sec6, .sec7, .sec8, .sec9, .sec10, .sec11, .sec12, .sec13 {
        height: 831px;
    }
    
}

/* Responsive untuk MacBook Pro */
@media 
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1400px), 
    only screen and (min-resolution: 192dpi) and (min-width: 1400px) {
        .sec1, .sec2, .sec3, .sec4, .sec5, .sec6, .sec7, .sec8, .sec9, .sec10, .sec11, .sec12, .sec13 {
            height: 821px;
        }
        .sec1 h3, .sec5 h3, .sec6 h3, .sec7 h3, .sec8 h3, .sec9 h3, .sec10 h3 {
            font-size: 52px;
        }
        .sec1 h4, .sec2 h4, .sec5 h4 {
            font-size: 33px;
        }
        
}



/* Responsive Layar desktop 100% dari layar 1366x768 */
@media only screen and (min-width: 1200px) and (max-width: 1366px) {
    .bg1 {
        background-size: cover;
    }
     .sec1, .sec2, .sec3, .sec4, .sec5, .sec6, .sec7, .sec8, .sec9, .sec10, .sec11, .sec12, .sec13 {
        height: 768px;
    }
    .sec1 h3, .sec5 h3, .sec6 h3, .sec7 h3, .sec8 h3, .sec9 h3, .sec10 h3 {
        font-size: 48px;
        font-family: 'GochiHand-Regular', sans-serif;
        margin-bottom: 30px;
    }
    .sec1 h4, .sec2 h4, .sec5 h4 {
        font-size: 30px;
    }
    .sec1 p, .sec2 p, .sec3 p, .sec4 p, .sec5 p, .sec7 p, .sec8 p, .sec9 p, .sec10 p {
        font-size: 22px;
        font-family: 'Carnas-medium', sans-serif;
        letter-spacing: 1px;
    }
    .sec1 img {
        max-width: 522px;
    }
    .sec1 .text-box {
        padding-left: 100px;
    }
    .sec3 .img-box1 img {
        max-width: 310px;
    }
    .sec3 .img-box2 img {
        max-width: 650px;
    }
    .sec4 .img-box2 {
        top: 100px;
    }
    .sec4 .img-box img {
        max-width: 475px;
    }
    .sec4 .img-box2 img {
        max-width: 600px;
    }
    .sec5 .img-box {
        bottom: -56px;
    }
    .sec5 .img-box img {
        max-width: 64%;
    }
    .sec6 img {
        max-width: 64%;
    }
    .sec8 .img-box {
        bottom: 19%;
    }
    .sec8 .img-box img {
        max-width: 140px;
    }
    .sec9 .img-box {
        bottom: 17%;
    }
    .sec9 .img-box {
        right: 30px;
    }
    .sec9 .img-box img {
        max-width: 410px;
    }
    .bg-slider3 h3 {
        font-size: 36px;
        max-width: 60%;
    }
}

/* Responsive Layar desktop zoom in 120% dari layar 1366x768 */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .bg1 {
        background-size: cover;
    }
    .sec1, .sec2, .sec3, .sec4, .sec5, .sec6, .sec7, .sec8, .sec9, .sec10, .sec11, .sec12, .sec13 {
        height: 698px;
    }
    .sec1 h3, .sec5 h3, .sec6 h3, .sec7 h3, .sec8 h3, .sec9 h3, .sec10 h3 {
        font-size: 35px;
    }
    .sec1 h4, .sec2 h4, .sec5 h4 {
        font-size: 22px;
    }
    .sec1 p, .sec2 p, .sec3 p, .sec4 p, .sec5 p, .sec7 p, .sec8 p, .sec9 p, .sec10 p {
        font-size: 18px;
    }
    .sec1 img {
        max-width: 484px;
    }
    .sec3 .img-box1 img {
        max-width: 280px;
    }
    .sec3 .img-box2 img {
        max-width: 500px;
    }
    .sec4 .img-box img {
        max-width: 400px;
    }
    .sec4 .img-box2 {
        top: 145px;
    }
    .sec4 .img-box2 img {
        max-width: 500px;
    }
    .sec5 .img-box {
        bottom: -50px;
    }
    .sec8 .img-box {
        bottom: 19%;
    }
    .sec8 .img-box img {
        max-width: 137px;
    }
    .sec9 .img-box {
        bottom: 17%;
    }
    .sec9 .img-box img {
        max-width: 370px;
    }
    .sec10 .img-box img {
        max-width: 350px;
    }
    .sec11 h2{
        font-size: 40px;
    }
    .carousel-item img {
        max-width: 300px;
    }
    #slide1 .carousel-item .desc h3 {
        font-size: 18px;
    }
    .bg-slider3 h3 {
        font-size: 34px;
    }
    .bg-slider3 p {
        font-size: 15px;
    }
    .sec13 img {
        max-width: 320px;
    }
}


/* buat yang jail ngecilin browser */
@media only screen and (min-width: 601px) and (max-width: 991px) {
    .bg1 {
        background-size: cover;
    }
    .sec1, .sec2, .sec3, .sec4, .sec5, .sec6, .sec7, .sec8, .sec9, .sec10, .sec11, .sec12, .sec13 {
        height: 600px;
    }
    .sec1 h3, .sec5 h3, .sec6 h3, .sec7 h3, .sec8 h3, .sec9 h3, .sec10 h3 {
        font-size: 30px;
    }
    .sec1 h4, .sec2 h4, .sec5 h4 {
        font-size: 17px;
    }
    .sec1 p, .sec2 p, .sec3 p, .sec4 p, .sec5 p, .sec7 p, .sec8 p, .sec9 p, .sec10 p {
        font-size: 15px;
    }
    .sec1 img {
        max-width: 484px;
    }
    .sec3 .img-box1 img {
        max-width: 280px;
    }
    .sec3 .img-box2 img {
        max-width: 500px;
    }
    .sec4 .img-box img {
        max-width: 400px;
    }
    .sec4 .img-box2 {
        top: 145px;
    }
    .sec4 .img-box2 img {
        max-width: 500px;
    }
    .sec5 .img-box {
        bottom: -50px;
    }
    .sec8 .img-box {
        bottom: 19%;
    }
    .sec8 .img-box img {
        max-width: 137px;
    }
    .sec9 .img-box {
        bottom: 17%;
    }
    .sec9 .img-box img {
        max-width: 370px;
    }
    .sec10 .img-box img {
        max-width: 350px;
    }
    .sec11 h2{
        font-size: 40px;
    }
    .carousel-item img {
        max-width: 300px;
    }
    #slide1 .carousel-item .desc h3 {
        font-size: 18px;
    }
    .bg-slider3 h3 {
        font-size: 34px;
    }
    .bg-slider3 p {
        font-size: 15px;
    }
    .sec13 img {
        max-width: 320px;
    }
}


@media only screen and (max-width: 600px) {
    [data-aos-delay] {
        transition-delay: 0s !important;
    }
    .break-sect {
        display: none;
    }
    .desktop_ {
        display: none!important;
    }
    .mobile_ {
        display: block;
    }
    #desktop-only {
        display: none;
    }
    #mobile-only {
        display: block;
    }
    #slide2 .prevbtn, .prevbtn {
        width: 40px;
        height: 42px;
    }
    #slide2 .nextbtn, .nextbtn {
        width: 40px;
        height: 42px;
    }
    .carousel-item .desc h3, .sect10 .carousel-item .desc h3 {
        font-size: 16px;
    }

    .sect10 .prevbtn:active {
    background-image: url(../images/panah-kiri-hover.png)!important;
    }
    .sect10 .nextbtn:active {
        background-image: url(../images/panah-kanan-hover.png)!important;
    }
    .prevbtn:active {
        background-image: url(../images/panah-kiri-hover.png)!important;
    }
    .nextbtn:active {
        background-image: url(../images/panah-kanan-hover.png)!important;
    }
    .sect10 .prevbtn:hover {
        background-image: url(../images/panah-kiri-2.png)!important;
    }
    .sect10 .nextbtn:hover {
        background-image: url(../images/panah-kanan-2.png)!important;
    }
    .prevbtn:hover {
        background-image: url(../images/panah-kiri.png)!important;
    }
    .nextbtn:hover {
        background-image: url(../images/panah-kanan.png)!important;
    }
    
    
    
}


/* mobile general */
@media only screen and (max-width: 481px) {
    .bg1 {
        background-image: url(../images/bg-mobile.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover!important;
    }
    .sec1, .sec2, .sec3, .sec4, .sec5, .sec7, .sec8, .sec9, .sec10, .sec11, .sec12, .sec13 {
        height: 100vh;
    }
    .sec6 {
        height: 50vh;
    }
    /* All h3 */
    .sec1 h3, .sec5 h3, .sec6 h3, .sec7 h3, .sec8 h3, .sec9 h3, .sec10 h3 {
        font-size: 36px;
        font-family: 'GochiHand-Regular', sans-serif;
        margin-bottom: 30px;
    }

    /* All h4 */
    .sec1 h4, .sec2 h4, .sec5 h4 {
        font-size: 25px;
        font-family: 'Carnas-Bold', sans-serif;
        letter-spacing: 1px;
        margin-bottom: 30px;
    }

    /* All p */
    .sec1 p, .sec2 p, .sec3 p, .sec4 p, .sec5 p, .sec7 p, .sec8 p, .sec9 p, .sec10 p {
        font-size: 21px;
        font-family: 'Carnas-medium', sans-serif;
        letter-spacing: 1px;
    }
    .sec1 .text-box {
        max-width: 100%;
        position: absolute;
        top: 100px;
        padding-left: 0;
    }
    .sec1 img {
        max-width: 100%;
    }
    .sec3 .img-box1 img {
        max-width: 170px;
    }
    .sec4 .img-box {
        bottom: 40%;
    }
    .sec4 .img-box img {
        max-width: 100%;
    }
    .sec5 .text-box {
        max-width: 100%;
        top: 140px;
    }
    .sec5 .img-box {
        bottom: 0;
    }
    .sec5 .img-box img {
        max-width: 100%;
    }
    .sec6 img {
        max-width: 100%;
    }
    .sec7 .text-box {
        max-width: 100%;
        top: 8%;
    }
    .sec8 .text-box{
        top: 8%;
        max-width: 100%;
    }
    .sec9 .text-box {
        max-width: 100%;
        top: 10%;
    }
    .sec10 {
        padding-left: 15px!important;
    }
    .sec10 .text-box {
        max-width: 100%;
        bottom: 0;
        top: 10%;
    }
    .sec11 {
        padding-top: 30%;
    }
    .sec11 h2 {
        font-size: 36px;
    }
    .sec12 .carousel-control-prev {
        left: 20%;
    }
    .sec12 .carousel-control-next {
        right: 20%;
    }
    .sec13 {
        padding-top: 30%;
    }
    .sec13 img {
        max-width: 320px;
    }
    .bg-slider3 h3 {
        top: 0;
        font-size: 32px;
        max-width: 90%;
    }
    #slider3 .content-slider .desc {
        max-width: 90%;
        bottom: 140px;
    }
    .carousel-item .desc {
        max-width: 100%;
    }
    .carousel-item img {
        max-width: 320px;
    }
    .bg-slider3 {
	background: url(../images/mobile/1.png) no-repeat top center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
    }
    .bg-slider3:nth-child(2) {
        background: url(../images/mobile/2.png) no-repeat top center;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }
    .bg-slider3:nth-child(3) {
        background: url(../images/mobile/3.png) no-repeat top center;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }
    .bg-slider3:nth-child(4) {
        background: url(../images/mobile/4.png) no-repeat top center;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }
    .bg-slider3:nth-child(5) {
        background: url(../images/mobile/5.png) no-repeat top center;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }

    .ornamen1 .ornamen-box {
        margin-top: 0;
    }
    .ornamen1 .ornamen-box img {
        max-width: 120px;
    }
    .ornamen2 .ornamen-box {
        margin-top: -44%;
    }
    .ornamen2 .ornamen-box img {
        max-width: 110px;
    }
    
}

/* galaxy note 9 / iphone 11 pro */
@media (max-width: 419px) and (max-height: 847px) and (min-height: 800px) {
    .sec1, .sec2, .sec3, .sec4, .sec5, .sec7, .sec8, .sec9, .sec10, .sec11, .sec12, .sec13 {
        height: 850px;
    }
    .sec1 h3, .sec5 h3, .sec6 h3, .sec7 h3, .sec8 h3, .sec9 h3, .sec10 h3 {
        font-size: 29px;
    }
    .sec1 p, .sec2 p, .sec3 p, .sec4 p, .sec5 p, .sec7 p, .sec8 p, .sec9 p, .sec10 p {
        font-size: 18px;
    }
    .sec6 {
        400px;
    }
    .sec5 .text-box {
        top: 200px;
    }
    
    .sec1 h4, .sec2 h4, .sec5 h4 {
        font-size: 20px;
    }
    .sec9 .text-box {
        top: 0;
    }
    .sec10 .text-box {
        top: 0;
    }
    .bg-slider3 h3 {
        font-size: 27px;
    }
    .sec13 img {
        max-width: 280px;
    }
    .sec13 h3, .sec13 a {
        font-size: 24px;
    }
}


/* Iphone 6/7/8 Plus */
@media (max-width: 420px) and (max-height: 740px) {
    .sec1, .sec2, .sec3, .sec4, .sec5, .sec7, .sec8, .sec9, .sec10, .sec11, .sec12, .sec13 {
        height: 740px;
    }
    .sec6 {
        height: 350px;
    }
    .sec1 h3, .sec5 h3, .sec6 h3, .sec7 h3, .sec8 h3, .sec9 h3, .sec10 h3 {
        font-size: 29px;
    }
    .sec1 h4, .sec2 h4, .sec5 h4 {
        font-size: 21px;
    }
    .sec1 p, .sec2 p, .sec3 p, .sec4 p, .sec5 p, .sec7 p, .sec8 p, .sec9 p, .sec10 p {
        font-size: 18px;
    }
    .carousel-item img {
        max-width: 300px;
    }
    #slide1 .carousel-item .desc h3 {
        font-size: 17px;
    }
    .bg-slider3 h3 {
        font-size: 22px;
    }
    .bg-slider3 p {
        font-size: 14px;
    }
    .sec5 .img-box {
        bottom: 0;
    }
    .sec6 img {
        top: 0;
    }
    .sec8 .text-box, .sec9 .text-box, .sec10 .text-box {
        top: 0;
    }
    .sec10 {
        padding-left: 0;
        padding-top: 7%;
    }
    .sec11 h2 {
        font-size: 28px;
    }
    .sec13 img {
        max-width: 280px;
    }
    .sec13 h3 {
        font-size: 21px;
    }
    .sec13 a {
        font-size: 24px;
    }
    .ornamen3 .ornamen-box img {
        max-width: 170px;
    }
}


/* Iphone 6/7/8 */
@media (max-width: 380px) and (max-height: 668px) {
    .sec1, .sec2, .sec3, .sec4, .sec5, .sec7, .sec8, .sec9, .sec10, .sec11, .sec12, .sec13 {
        height: 670px;
    }
    .sec1 h4, .sec2 h4, .sec5 h4 {
        font-size: 18px;
    }
    .sec1 p, .sec2 p, .sec3 p, .sec4 p, .sec5 p, .sec7 p, .sec8 p, .sec9 p, .sec10 p {
        font-size: 16px;
    }
    .sec6 {
        height: 320px;
    }
    .sec1 img {
        max-width: 80%;
        margin-top: 50px;
    }
    .sec13 img {
        max-width: 240px;
    }
}

/* Samsung galaxy S10 */
@media (max-width: 361px) and (min-height: 741px) {
    .sec1, .sec2, .sec3, .sec4, .sec5, .sec7, .sec8, .sec9, .sec10, .sec11, .sec13 {
        height: 720px;
    }
    .sec6 {
        height: 350px;
    }
    .sec12 {
        height: 100vh;
    }
    .sec1 h3, .sec5 h3, .sec6 h3, .sec7 h3, .sec8 h3, .sec9 h3, .sec10 h3 {
        font-size: 30px;
    }
    .sec1 h4, .sec2 h4, .sec5 h4 {
        font-size: 19px;
    }
    .sec1 p, .sec2 p, .sec3 p, .sec4 p, .sec5 p, .sec7 p, .sec8 p, .sec9 p, .sec10 p {
        font-size: 17px;
    }
    .sec13 img {
        max-width: 200px;
    }
    .sec13 h3 {
        font-size: 25px;
    }
    
}

/* HP ukuran layar 5 inch */
@media only screen and (max-width: 361px) { 
    .sec1, .sec2, .sec3, .sec4, .sec5, .sec7, .sec8, .sec9, .sec10, .sec11, .sec12, .sec13 {
        height: 650px;
    }
    .sec6 {
        height: 310px;
    }
    .sec1 h3, .sec5 h3, .sec6 h3, .sec7 h3, .sec8 h3, .sec9 h3, .sec10 h3 {
        font-size: 24px;
    }
    .sec1 p, .sec2 p, .sec3 p, .sec4 p, .sec5 p, .sec7 p, .sec8 p, .sec9 p, .sec10 p {
        font-size: 15px;
    }
    .ornamen3 .ornamen-box img {
        max-width: 200px;
    }
    .sec11 h2 {
        font-size: 27px;
    }
    .carousel-item img {
        max-width: 260px;
    }
    
}

/* Iphone 5 */
@media (max-width: 321px) {
    .sec1 h3, .sec5 h3, .sec6 h3, .sec7 h3, .sec8 h3, .sec9 h3, .sec10 h3 {
        font-size: 23px;
    }
    .sec1 p, .sec2 p, .sec3 p, .sec4 p, .sec5 p, .sec7 p, .sec8 p, .sec9 p, .sec10 p {
        font-size: 15px;
    }
    .ornamen3 .ornamen-box img {
        max-width: 200px;
    }
    .sec11 h2 {
        font-size: 26px;
    }
    .carousel-item img {
        max-width: 250px;
    }
}


.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #fff;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}
.dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #7c54dd;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/*
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #fce200;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
*/

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* Falling Sakura */

@-webkit-keyframes fall {
    0% {
        opacity: 0.9;
        top: 0
    }
    100% {
        opacity: 0.2;
        top: 100%
    }
}

@keyframes fall {
    0% {
        opacity: 0.9;
        top: 0
    }
    100% {
        opacity: 0.2;
        top: 100%
    }
}

@-webkit-keyframes blow-soft-left {
    0% {
        margin-left: 0
    }
    100% {
        margin-left: -50%
    }
}

@keyframes blow-soft-left {
    0% {
        margin-left: 0
    }
    100% {
        margin-left: -50%
    }
}

@-webkit-keyframes blow-medium-left {
    0% {
        margin-left: 0
    }
    100% {
        margin-left: -100%
    }
}

@keyframes blow-medium-left {
    0% {
        margin-left: 0
    }
    100% {
        margin-left: -100%
    }
}

@-webkit-keyframes blow-soft-right {
    0% {
        margin-left: 0
    }
    100% {
        margin-left: 50%
    }
}

@keyframes blow-soft-right {
    0% {
        margin-left: 0
    }
    100% {
        margin-left: 50%
    }
}

@-webkit-keyframes blow-medium-right {
    0% {
        margin-left: 0
    }
    100% {
        margin-left: 100%
    }
}

@keyframes blow-medium-right {
    0% {
        margin-left: 0
    }
    100% {
        margin-left: 100%
    }
}

@-webkit-keyframes sway-0 {
    0% {
        -webkit-transform: rotate(-5deg)
    }
    40% {
        -webkit-transform: rotate(28deg)
    }
    100% {
        -webkit-transform: rotate(3deg)
    }
}

@keyframes sway-0 {
    0% {
        -ms-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }
    40% {
        -ms-transform: rotate(28deg);
        transform: rotate(28deg)
    }
    100% {
        -ms-transform: rotate(3deg);
        transform: rotate(3deg)
    }
}

@-webkit-keyframes sway-1 {
    0% {
        -webkit-transform: rotate(10deg)
    }
    40% {
        -webkit-transform: rotate(43deg)
    }
    100% {
        -webkit-transform: rotate(15deg)
    }
}

@keyframes sway-1 {
    0% {
        -ms-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    40% {
        -ms-transform: rotate(43deg);
        transform: rotate(43deg)
    }
    100% {
        -ms-transform: rotate(15deg);
        transform: rotate(15deg)
    }
}

@-webkit-keyframes sway-2 {
    0% {
        -webkit-transform: rotate(15deg)
    }
    40% {
        -webkit-transform: rotate(56deg)
    }
    100% {
        -webkit-transform: rotate(22deg)
    }
}

@keyframes sway-2 {
    0% {
        -ms-transform: rotate(15deg);
        transform: rotate(15deg)
    }
    40% {
        -ms-transform: rotate(56deg);
        transform: rotate(56deg)
    }
    100% {
        -ms-transform: rotate(22deg);
        transform: rotate(22deg)
    }
}

@-webkit-keyframes sway-3 {
    0% {
        -webkit-transform: rotate(25deg)
    }
    40% {
        -webkit-transform: rotate(74deg)
    }
    100% {
        -webkit-transform: rotate(37deg)
    }
}

@keyframes sway-3 {
    0% {
        -ms-transform: rotate(25deg);
        transform: rotate(25deg)
    }
    40% {
        -ms-transform: rotate(74deg);
        transform: rotate(74deg)
    }
    100% {
        -ms-transform: rotate(37deg);
        transform: rotate(37deg)
    }
}

@-webkit-keyframes sway-4 {
    0% {
        -webkit-transform: rotate(40deg)
    }
    40% {
        -webkit-transform: rotate(68deg)
    }
    100% {
        -webkit-transform: rotate(25deg)
    }
}

@keyframes sway-4 {
    0% {
        -ms-transform: rotate(40deg);
        transform: rotate(40deg)
    }
    40% {
        -ms-transform: rotate(68deg);
        transform: rotate(68deg)
    }
    100% {
        -ms-transform: rotate(25deg);
        transform: rotate(25deg)
    }
}

@-webkit-keyframes sway-5 {
    0% {
        -webkit-transform: rotate(50deg)
    }
    40% {
        -webkit-transform: rotate(78deg)
    }
    100% {
        -webkit-transform: rotate(40deg)
    }
}

@keyframes sway-5 {
    0% {
        -ms-transform: rotate(50deg);
        transform: rotate(50deg)
    }
    40% {
        -ms-transform: rotate(78deg);
        transform: rotate(78deg)
    }
    100% {
        -ms-transform: rotate(40deg);
        transform: rotate(40deg)
    }
}

@-webkit-keyframes sway-6 {
    0% {
        -webkit-transform: rotate(65deg)
    }
    40% {
        -webkit-transform: rotate(92deg)
    }
    100% {
        -webkit-transform: rotate(58deg)
    }
}

@keyframes sway-6 {
    0% {
        -ms-transform: rotate(65deg);
        transform: rotate(65deg)
    }
    40% {
        -ms-transform: rotate(92deg);
        transform: rotate(92deg)
    }
    100% {
        -ms-transform: rotate(58deg);
        transform: rotate(58deg)
    }
}

@-webkit-keyframes sway-7 {
    0% {
        -webkit-transform: rotate(72deg)
    }
    40% {
        -webkit-transform: rotate(118deg)
    }
    100% {
        -webkit-transform: rotate(68deg)
    }
}

@keyframes sway-7 {
    0% {
        -ms-transform: rotate(72deg);
        transform: rotate(72deg)
    }
    40% {
        -ms-transform: rotate(118deg);
        transform: rotate(118deg)
    }
    100% {
        -ms-transform: rotate(68deg);
        transform: rotate(68deg)
    }
}

@-webkit-keyframes sway-8 {
    0% {
        -webkit-transform: rotate(94deg)
    }
    40% {
        -webkit-transform: rotate(136deg)
    }
    100% {
        -webkit-transform: rotate(82deg)
    }
}

@keyframes sway-8 {
    0% {
        -ms-transform: rotate(94deg);
        transform: rotate(94deg)
    }
    40% {
        -ms-transform: rotate(136deg);
        transform: rotate(136deg)
    }
    100% {
        -ms-transform: rotate(82deg);
        transform: rotate(82deg)
    }
}

.sakura {
    background: -webkit-linear-gradient(120deg, rgba(255, 183, 197, 0.9), rgba(255, 197, 208, 0.9));
    background: linear-gradient(120deg, rgba(255, 183, 197, 0.9), rgba(255, 197, 208, 0.9));
    pointer-events: none;
    position: absolute
}